[2017-11-16 15:57] laxersaz opened #1 "Integrate Codecov and travis"

[2017-11-17 09:39] laxersaz opened #2 "Add scenario durations to overview page"
### Expected behavior
Scenario duration should appear as a separate column in the overview page

[2017-11-18 18:41] schmalzi-compax opened #3 "NullPointerException while processing cucumber reports without elements"
The following NullPointerExceptions happens if a scenario won't get executed because of a tag configuration e.g. @ignore which avoids processing in cucumber.

[ERROR] Failed to execute goal com.trivago.rta:cluecumber-report-plugin:0.0.3:reporting (report) on project testsuite-factory: Execution report of goal com.trivago.rta:cluecumber-report-plugin:0.0.3:reporting failed. NullPointerException ->

[2017-11-18 20:25] laxersaz commented on #3
Thanks a lot for reporting. It is super helpful to get such a detailed description of the issue! I will look into it on Monday and release a fix asap!

[2017-11-18 23:00] schmalzi-compax commented on #3
sounds good, i'll test the fix if it's available. Thank you in advance.

[2017-11-19 10:04] #1 closed

[2017-11-20 08:23] laxersaz opened #4 "HTML elements inside stacktraces are not escaped properly"

[2017-11-20 09:35] laxersaz opened #5 "Show feature file name on mouseover of feature name"

[2017-11-20 11:18] #2 closed

[2017-11-20 11:18] #3 closed

[2017-11-20 11:18] #5 closed

[2017-11-20 11:38] laxersaz commented on #3
@schmalzi-compax I just release cluecumber 0.0.4 which handles the reported issues. Please check if everything is alright for you.

[2017-11-20 15:31] laxersaz opened #7 "Feature file tooltip only looks correct on the first data table page"

[2017-11-21 00:16] schmalzi-compax commented on #3
The fix solved the problem, thank you very much.

[2017-11-21 11:49] laxersaz opened #8 "Show total test time on start page"

[2017-11-24 21:53] #4 closed

[2017-11-24 21:53] #7 closed

[2017-11-24 21:53] #8 closed

[2017-11-29 06:57] laxersaz opened #11 "back link inside iframed report doesn't have any effect"

[2017-11-30 08:31] #11 closed

[2017-12-12 16:20] laxersaz opened #15 "Support Cucumber 2 attachments"

[2018-01-05 09:57] laxersaz opened #18 "Find a possibility to see Scenario Outline Examples together"

[2018-01-12 11:08] JoVzla opened #19 "Cucumber Data Table is not showed in Scenario Details"
### Expected behavior
[code]

### Actual behavior
`Step 2   Then Log in to your account with         0m 09s 662ms       passed`

### Reproduction steps

[code]

[2018-01-12 11:10] JoVzla opened #20 "Improvement: Graphics by tags"
### Expected behavior
Graphics to see errors/success by tags, making easy to see what component is failing

### Actual behavior
Right now tags add no value to the report

[2018-01-15 10:05] laxersaz commented on #20
Do you mean a page like in cucumber-reporting?

https://raw.githubusercontent.com/damianszczepanik/cucumber-reporting/master/.README/tag-overview.png

[2018-01-15 10:11] JoVzla commented on #20
Hi, yes is too usefull!

[2018-01-15 12:58] laxersaz opened #21 "Scenario names should be encoded"
### Expected behavior
```This is my <Scenario Title>```

### Actual behavior
```This is my```

[2018-01-15 13:40] laxersaz opened #22 "Support SVG attachments"

[2018-01-15 15:52] laxersaz opened #23 "Make Cluecumber work with all Cucumber example JSON files"
https://github.com/cucumber/json-formatter-approval-tests/tree/master/examples

[2018-01-15 16:25] laxersaz commented on #23
Fixed in 0.2.0

[2018-01-15 16:25] #23 closed

[2018-01-15 16:26] laxersaz commented on #21
Fixed in 0.2.0

[2018-01-15 16:26] #21 closed

[2018-01-15 16:27] laxersaz commented on #19
Hi @JoVzla
Could you please send me an example JSON file that includes a data table for reference?

[2018-01-15 16:45] JoVzla commented on #19
Done!

[AffiliateUrl_scenario001_run001_IT.json.zip](https://github.com/trivago/cluecumber-report-plugin/files/1632378/AffiliateUrl_scenario001_run001_IT.json.zip)

[2018-01-15 16:59] laxersaz commented on #19
Thanks a lot, I am currently looking into this issue.

[2018-01-16 09:54] laxersaz commented on #19
Will be fixed in release 0.2.0

[2018-01-16 09:54] #19 closed

[2018-01-16 10:48] laxersaz commented on #19
@JoVzla Version 0.2.0 is now available that adds data table support. The tag functionality will be done in the next release.

[2018-01-16 10:52] JoVzla commented on #19
Thanks! Downloading and testing.

[2018-01-18 10:23] laxersaz opened #25 "Show step summary on scenario detail page (upper right info box)"

[2018-01-19 11:12] laxersaz opened #26 "Merge background step into each scenario"

[2018-02-06 12:45] laxersaz opened #27 "Highlight method parameters in step titles on scenario detail pages"

[2018-02-11 10:47] rvarum opened #28 "ENHANCEMENT: support scenario.write() output"
add support to view text in the report which is written by cucumber Scenario.write() method.

[2018-02-11 19:58] laxersaz commented on #28
I will tackle this one for release 0.3.0

[2018-02-13 13:05] laxersaz opened #29 "Scenarios are considered failed when they contain both pending and skipped steps"
### Expected behavior
The scenario should be marked as skipped.

### Actual behavior
The scenario is marked as failed.

### Reproduction steps
Use the attached JSON file: [report.json.zip](https://github.com/trivago/cluecumber-report-plugin/files/1719977/report.json.zip)

[2018-02-16 07:57] jdoriyastpl opened #30 "Failed to collect dependencies at com.trivago.rta:cluecumber-report-plugin:jar:0.2.0"
### Expected behavior
At local system report is generating
### Actual behavior
Not able to generate report on docker
### Reproduction steps
mvn clean install verify -Pparallel
### Additional details (Maven version, Java version, etc.)
Execution report of goal com.trivago.rta:cluecumber-report-plugin:0.2.0:reporting failed: Plugin com.trivago.rta:cluecumber-report-plugin:0.2.0 or one of its depende

[2018-02-16 14:34] laxersaz commented on #29
Implemented fix for 0.3.0

[2018-02-16 14:40] laxersaz commented on #30
Hi, I don't think this is a Cluecumber issue. It rather looks like a connection issue between your container and Maven Central.

[2018-02-16 14:41] #29 closed

[2018-02-16 16:12] laxersaz commented on #28
This is developed and included for release 0.3.0

[2018-02-16 16:12] #28 closed

[2018-02-16 16:20] laxersaz commented on #26
This is developed and scheduled for release in 0.3.0
https://github.com/trivago/cluecumber-report-plugin/tree/0.3.0

[2018-02-16 16:20] #26 closed

[2018-02-16 17:16] laxersaz commented on #25
This is included in the next 0.3.0 release.

[2018-02-16 17:16] #25 closed

[2018-02-16 19:30] rvarum commented on #28
thanks @laxersaz , thats good news.

[2018-02-19 12:06] jdoriyastpl commented on #30
@laxersaz  Thanks for response,
I have tried to execute 2 features and plugin worked well, But as I increased the feature files count then connection reset between container and maven as you said. any resolution for this?

[2018-02-19 12:15] laxersaz commented on #30
Hi! Maybe Maven does not have enough resources allocated for a higher number of features. You could try giving it more with `-Xms256m -Xmx1024m`

[2018-02-25 00:21] alenmeister opened #32 "Encoding issues with Norwegian based Cucumber features"
### Expected behavior
Was not expecting there to be any major issues related to encoding with non-english special characters (ie, æøå).

### Actual behavior
Looks like the headers for the feature and scenario columns are not being rendered correctly.
None of the steps from the detailed page are affected by this.

I attached a screendump of the the headers from the overview page.

### Reproduction

[2018-02-25 14:27] laxersaz commented on #32
Hi @alenmeister ! Thanks for reporting this. I will look into it asap.

[2018-02-25 14:54] laxersaz commented on #32
Also created related Cucable issue https://github.com/trivago/cucable-plugin/issues/50

[2018-02-28 17:10] #30 closed

[2018-03-02 15:34] laxersaz commented on #32
I fixed the Cucable issue first to support non-english languages in my whole Cucumber tool chain:
https://github.com/trivago/cucable-plugin/issues/50

Next step is fixing it in the Cluecumber Report plugin.

[2018-03-02 16:26] alenmeister commented on #32
Great news! This will make my project lead quite happy.

[2018-03-07 13:41] rcmedina opened #33 "Background steps display in reverse order"
### Expected behavior
Background steps should display in order they are given

### Actual behavior
Background steps display in reverse order in report

### Reproduction steps
1. Create and run a feature file that uses Background steps.
2. Open Cluecumber report

### Additional details (Maven version, Java version, etc.)
Cluecumber version 0.3.0
![screen shot 2018-03-07 at 8 40 53 am](https://user-

[2018-03-08 08:34] laxersaz commented on #33
Hello @rcmedina ,
thanks for the detailed report. A fix will be included in the next release.

[2018-03-08 16:06] dgt-amexio commented on #33
As far as I am concerned, I am facing the same "mismatch" in steps order in Given/When/Then steps.
Will the fix cover all use cases or shall I create a separate issue ?

Kind regards
DGT

[2018-03-08 17:09] laxersaz commented on #33
Does this only happen when using background steps? Then it will be covered here. If your issue happens without a background scenario, please create a new issue including reproduction steps.

Best,
Benjamin

[2018-03-08 20:46] laxersaz commented on #33
This is fixed and will be released in v0.5.0

[2018-03-08 20:47] #33 closed

[2018-03-08 21:05] laxersaz commented on #32
Hello @alenmeister !

I tried it with different languages and could not reproduce the encoding issue at all.

<img width="860" alt="screen shot 2018-03-08 at 22 00 36" src="https://user-images.githubusercontent.com/5775857/37176292-3ef863a0-231c-11e8-8976-b098376ae69a.png">

Did you make sure your feature files are UTF-8 encoded?
And did you set the encoding in your POM file?

[code]

If this prob

[2018-03-09 09:58] alenmeister commented on #32
Yes, sir!

My feature files should be UTF-8 encoded and the correct properties are defined in my POM file as well.
One thing to take note of is that I'm for the most part using Scenario Outline in my feature files. Not sure if that matters at all.

Other than that, I'm using IntelliJ 2017.3.4 (Community Edition), build #IC-173.4548.28 on Windows 10 version 1703, build 15063.909. Something else you

[2018-03-09 10:15] laxersaz commented on #32
I will investigate this further. Very strange since the headers look fine for me too:

<img width="725" alt="screen shot 2018-03-09 at 11 14 00" src="https://user-images.githubusercontent.com/5775857/37202571-210cc060-238b-11e8-995b-fa3ef92c56e7.png">

[2018-03-09 14:21] laxersaz opened #35 "Include feature description in the report"
Reported by @jakubsacha

[2018-03-09 17:12] laxersaz opened #36 "Create a Cluecumber test project with different JSON report files"
Monorepo

[2018-03-10 08:45] dgt-amexio commented on #33
@laxersaz you're right, I was using background steps in my scenario.
Thx !

[2018-03-10 08:51] dgt-amexio opened #37 "Feature based report"
### Expected behavior
_not sure to post my feature request in the right way, feel free to redirect me to the right medium if available_

Do you have any plan to include a feature report on the overview page + feature result drilldown in order to browe results on a feature (or feature + subfeature) basis ?

### Actual behavior
No feature based report

### Reproduction steps
Not applicable : no feat

[2018-03-10 12:57] laxersaz commented on #37
Thanks for reporting! It is alright how you created the feature request, don't worry :-)

[2018-03-10 13:07] laxersaz commented on #20
On it. I hope to have a view ready to be released together with 0.5.0

[2018-03-11 16:18] dgt-amexio opened #38 "Proposed feature : allow report look & feel customization through CSS"
### Expected behavior
Introduce additional configuration in Cluecumber report plugin in order to let plugin users change report UI (example : change default background colors, introduce additional header icon, ...)

### Actual behavior
Cluecumber report UI cannot be customized "on the fly", unless by overriding HTML / CSS output once processed

### Reproduction steps
Not applicable : feature not y

[2018-03-11 16:25] dgt-amexio commented on #38
Currently I implemented a workaround consisting in

- Creating a custom css stylesheet containing my custom rules for UI
- Making a private copy of the official cluecumber.css stylesheet + adding a @import directive pointing to my custom css stylesheet
- Taking advantage of the "maven-resources-plugin" as a report post-processor to include my custom css rules

Suggested approach might consist in
-

[2018-03-11 18:18] laxersaz commented on #38
Hello @dgt-amexio

This is definitely planned. However, there are some bugs and features with a higher priority so it will  take some time to implement that.

Best,
Benjamin

[2018-03-12 10:27] laxersaz commented on #32
Which browser are you using to look at the reports?

[2018-03-12 10:28] laxersaz commented on #20
I am working on this feature and I hope I will have something usable soon.

[2018-03-13 08:04] alenmeister commented on #32
Using Chrome Version 64.0.3282.140 (Official Build) (32-bit)

[2018-03-15 23:23] alenmeister commented on #32
Hey, @laxersaz!

I'll give it another go with only one scenario defined in the feature file. I'll also check to see if a colleague of mine has the same problem. If the issue still persists, I'll create a repo with an example for you clone and run. Sounds like an okay plan?

[2018-03-16 06:57] laxersaz commented on #32
Great plan! I was not able to reproduce the problem yet.

[2018-03-19 10:18] laxersaz commented on #20
Tag view will be in 0.5.0, planning to release today.

[2018-03-19 11:54] #20 closed

[2018-03-20 13:58] alenmeister commented on #32
My colleague and I are still getting the same encoding issues. I've stripped away a lot of the code we're using to the bare minimum, and created a private repo for you to clone. I'm sending you an invite as we speak.

[2018-03-20 15:00] laxersaz commented on #32
This is very strange, I tested your project and I don't see this issue. Actually, this screenshot shows the generated report in Safari, Firefox and Opera (works also in Chrome).

![screen shot 2018-03-20 at 15 55 42](https://user-images.githubusercontent.com/5775857/37662538-92780ff0-2c57-11e8-9fec-09cb4147a7fc.png)

I also attached the generated report directory as a zip files so we can see if th

[2018-03-20 17:18] alenmeister commented on #32
That is indeed very strange. Here's a screen dump of my report:
![reports](https://user-images.githubusercontent.com/1524302/37670981-f4c7831c-2c6a-11e8-83f7-98ea772ce64e.PNG)

Could there be something with the settings I have set in IntelliJ?
![intellij_file_encodings](https://user-images.githubusercontent.com/1524302/37670983-f8194c1c-2c6a-11e8-877d-c2564e190923.PNG)

[2018-03-21 13:11] laxersaz commented on #32
Did you check my attached report zip file and how it looks on your system?

[2018-03-22 17:14] alenmeister commented on #32
Yes, they look as they should look. No weird characters at all. What gives?

[2018-03-22 19:47] laxersaz commented on #32
I have the same settings in IntelliJ. If my reports look fine, that definitely looks like a setting on your system. Do the generated feature files that Cucable generates look correct? Or is the encoding issue there as well?

[2018-03-22 22:32] alenmeister commented on #32
No encoding issues with the generated reports from Cucumber. Also, I have no issues with the maven-cucumber-reporting plugin from masterthought. I noticed you are using macOS, did you try running my repo on a Windows machine?

[2018-03-23 12:09] laxersaz commented on #32
I don't have a windows machine here. However, I have an idea of what the reason could be. I will add more explicit UTF-8 encoding in the next 0.6.0 release. I'll keep you posted.

[2018-04-06 06:56] laxersaz commented on #32
Hello @alenmeister !
Could you please try this jar and see if it would fix your problem?
Thanks,
Benjamin

[cluecumber-report-plugin-0.6.0.jar.zip](https://github.com/trivago/cluecumber-report-plugin/files/1883004/cluecumber-report-plugin-0.6.0.jar.zip)

[2018-04-06 15:57] alenmeister commented on #32
The JAR failed to build. Take a look:
https://pastebin.com/xgW7Nsi9

[2018-04-07 06:57] laxersaz commented on #32
Alright I will check

[2018-04-09 23:06] qualityhabit opened #40 "Documented configuration example is incorrect"
Integrated to my cucumber project following steps described in https://github.com/trivago/cluecumber-report-plugin/blob/master/README.md

### Expected behavior
A sample report should be created at  ${project.build.directory}/generated-report

### Actual behavior
Exception generated: org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.trivago.rta:cluecumber-report-plu

[2018-04-10 08:02] laxersaz commented on #40
Thanks @qualityhabit !
I changed it in the documentation. In the next Cluecumber version there will be a full example project inside this repository.

[2018-04-10 08:02] #40 closed

[2018-04-10 14:10] laxersaz commented on #32
[cluecumber-report-plugin-0.6.0.jar.zip](https://github.com/trivago/cluecumber-report-plugin/files/1894957/cluecumber-report-plugin-0.6.0.jar.zip)

Please try this one.

[2018-04-10 19:53] alenmeister commented on #32
Still failing, now with a different error:
https://pastebin.com/4MLR75CR

First time I installed it manually using `mvn install:install-file`
Second time I included the maven-install-plugin to my pom.xml, as such:
https://pastebin.com/Sar5Wryp

Am I doing it wrong?

[2018-04-11 14:42] laxersaz commented on #32
OK, let's start over 🥇
I will release a snapshot version that you can try soon. This thing needs to be fixed 🤒

[2018-04-12 08:08] #36 closed

[2018-04-12 08:10] laxersaz commented on #32
@alenmeister I just released v0.6.0 which should be available in maven central soon. Please try this one 👍
Also I added an example project in this repo.

[2018-04-19 13:06] rcmedina opened #44 "Scenario Result Chart is not rendering on Scenario Details tab"
### Expected behavior
Scenario Result Chart graph should display on page

### Actual behavior
Scenario Result Chart graph is not displayed

### Reproduction steps
1. Open Cluecumber report, then click any test scenario link to open Scenario Details page

### Additional details (Maven version, Java version, etc.)
Cluecumber version 0.7.0

<img width="1430" alt="screen shot 2018-04-19 at 8 58 54 am"

[2018-04-19 14:53] laxersaz commented on #44
Hello!

Which browser are you using to view it?
Do you see any js errors in the browser console?

Best,
Benjamin

[2018-04-20 07:56] alenmeister commented on #32
Hey, @laxersaz! I changed the version of cluecumber in my POM file on several of my projects, and they all seem to get the exact same error as previously mentioned. I'm attempting one last try when I come home on a fresh project outside of our internal network at the office. I'll let you know by tonight.

[2018-04-26 09:43] laxersaz commented on #32
@alenmeister , anything new?

[2018-04-29 02:13] rcmedina commented on #44
Hi @laxersaz

Sorry for not replying back sooner.  Work got busy.

I investigated a bit more and the issue isn't browser-specific; it occurs in all browsers.

The issue occurs only when there is a Data Table at the Step-level...

**Below scenario will NOT render graph because there is a Data Table at Step-level:**

[code]

**This scenario will render the graph because there is no Data Table at Ste

[2018-04-30 06:12] laxersaz commented on #44
Thanks a lot for the detailed description. I think I know why this happens and I will provide a fix soon.

[2018-05-07 18:49] alenmeister commented on #32
@laxersaz I promise to an update to you within this weekend. Been on holidays, without a laptop. Should’ve done it before I left, my apologies!

[2018-05-08 07:35] laxersaz commented on #44
On it now...

[2018-05-08 08:53] laxersaz commented on #44
Fixed in 0.7.1

[2018-05-08 08:53] #44 closed

[2018-05-08 08:54] laxersaz commented on #35
Included in release 0.7.1

[2018-05-08 08:54] #35 closed

[2018-05-11 19:48] alenmeister commented on #32
![cluecumber_report](https://user-images.githubusercontent.com/1524302/39943862-b511884e-5564-11e8-9c78-7f53df2ccc38.PNG)

Would you look at that! Thanks for putting the time in. I owe you a beer!

[2018-05-11 19:48] #32 closed

[2018-05-11 19:50] laxersaz commented on #32
Hurray! Alright let's meet 😁

[2018-05-21 11:37] kamomil opened #46 "plugin fails with maven with the error Could not render page content: The following has evaluated to null or missing: [ERROR] ==> output [in template "scenario-detail.ftl" at line 123, column 55]"
Hi,
I use the plugin with maven,
And I get the error in the title:
`Could not render page content: The following has evaluated to null or missing:
[ERROR] ==> output  [in template "scenario-detail.ftl" at line 123, column 55]`

`[ERROR] Tip: If the failing expression is known to legally refer to something that's sometimes null or missing, either specify a default value like myOptionalVar!myDefault

[2018-05-21 15:20] laxersaz commented on #46
This file is located in https://github.com/trivago/cluecumber-report-plugin/tree/master/plugin-code/src/main/resources/template

Could you please send me an example JSON file that causes this error?

[2018-05-23 10:16] rvarum commented on #46
Hi @laxersaz ,  we managed to fix the root cause of the problem (sorry for not posting a JSON because of security reasons.
in case we use the Scenario.write() method, and write a null value, it will become "real" null type in the json "output" key.

i guess the solution will be maybe a validation if the output key contains null (not as string), it will convert into empty string or something.

[2018-05-23 10:29] eyalkeren1 commented on #46
Hey @laxersaz After serious debugging I found the we tried to print a null value variable.
we saw in the JSON that the output value was null (not String).
I also saw that when adding a string before the value then it will work fine (i.e. ("value is " + value) => will print "value null"

[2018-05-23 14:35] laxersaz commented on #46
@eyalkeren1 thanks a lot for the update - this makes it easier for me to fix it for sure!

[2018-05-23 15:52] alenmeister opened #47 "Toggle capitalization of scenarios and feature names"
For the purpose of look-and-feel, it’d be nice if there was an included option/switch to toggle capitalization. Long capitalized scenarios and feature names do not look that appealing in my opinion.

Just a suggestion §:-)

[2018-05-29 07:09] rvarum opened #48 "scenario.write() output doesn't appear in the Before and After sections"
### Expected behavior
render cucumber Scenario.write() output to @Before and @After sections as well

### Actual behavior
current it's not rendered there, not sure if a bug :) or its an improvement.

### Reproduction steps
run some test with scenario.write() in the @Before and @After methods and generate report

### Additional details (Maven version, Java version, etc.)
maven 3.5.2
java 1.8

[2018-05-29 13:20] laxersaz commented on #48
Thanks @rvarum I will add that.

[2018-06-02 20:21] laxersaz commented on #47
This will be included in the 0.8.0 release.

[2018-06-02 20:21] #47 closed

[2018-06-02 20:21] laxersaz commented on #48
Started developing for release 0.8.0...

[2018-06-03 06:49] laxersaz commented on #27
Hi! No I mean the parameters that are passed from the step to the attached glue method.

[2018-06-03 09:41] Muskuloese commented on #27
Ok, I will like to work on this.

[2018-06-08 10:03] MMeholli opened #49 "Html report does not get created when there are failures in the code"
### Expected behavior
Report file should be created when tests failed
### Actual behavior
Report file only gets created when the tests pass
### Reproduction steps
through the terminal running mvn clean verify test
### Additional details (Maven version, Java version, etc.)
[code]

[2018-06-08 10:36] laxersaz commented on #49
This is the standard Maven lifecycle and not a Cucable issue. If a goal fails, the subsequent ones won‘t be executed.
So you have basically two choices here:

- split the test and reporting phase into two separate maven calls or
- let surefire/failsafe ignore failed tests so the reporting phase gets executed.

[2018-06-08 10:37] #49 closed

[2018-06-10 15:13] laxersaz commented on #48
This is done and will be released in 0.8.0

[2018-06-10 15:13] #48 closed

[2018-06-10 16:22] laxersaz commented on #46
This is implemented and will be included in 0.8.0

[2018-06-10 16:22] #46 closed

[2018-06-12 11:44] high4life opened #51 "Also filter tables when filtering charts"
### Expected behavior
Would it be possible to also filter tables when filtering a chart by type (passed, failed, skipped)?
For example in the Suite Overview when we click on the "passed" type to not display it into the chart, it could be cool to also filter the tables and to display only the "failed" and "skipped" scenarios (so it will be consistent with the Test Suite Result Chart).

Could be the

[2018-06-12 16:31] laxersaz commented on #51
Hello @high4life!
Thanks for your suggestion, this sounds like a great idea. I will certainly evaluate if this can be achieved!

[2018-06-13 06:40] high4life commented on #51
Hello @laxersaz,

Thanks to you for this great cucumber reporting plugin !

[2018-06-15 11:51] laxersaz opened #53 "Introduce tag specific scenario overview page"

[2018-06-21 07:46] #37 closed

[2018-06-21 07:46] #53 closed

[2018-06-21 17:15] nmash1937 opened #55 "Include cluecumber to surefire report"
I'm not sure if this is a cluecumber issue, but is there a way to provide documentation to add cluecumber to surefire reports.

[2018-06-22 07:44] laxersaz commented on #55
Hello @nmash1937 ,
I am not sure I understand your request. Surefire can be the executer of Cucumber tests and Surefire's reports are different from Cucumber reports. So I would need some more information about what and how you are running your tests and what your desired report should look like.

[2018-06-25 16:35] laxersaz commented on #51
Development in progress...

[2018-06-26 15:41] rachelTori opened #56 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.0"
Hello!
For the example project provided, it says to run _mvn clean verify_. When I do that on my project and test fail I never receive a report from cluecumber because
_"Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.0:test (default-test) on project one: There are test failures."_
The .json file is created but I don't think cluecumber is ever "activitated" because it  r

[2018-06-26 15:45] laxersaz commented on #56
Hello, this has been asked before here:
https://github.com/trivago/cluecumber-report-plugin/issues/49

This is standard Maven behavior and not a Cluecumber issue ;-)

[2018-06-26 15:45] #56 closed

[2018-06-26 15:49] rachelTori commented on #56
Thank you!

[2018-06-27 13:04] laxersaz commented on #51
Example for new step graph:

[code]

[2018-06-28 13:17] laxersaz commented on #55
Closing it for now. @nmash1937 , feel free to comment on it - when you do I will reopen it.

[2018-06-28 13:17] #55 closed

[2018-06-29 02:51] SumanpreetJhinjer opened #57 "not able to see charts in scenarios in report"
charts are displaying well in features and tags but not in scenarios.
![scenariosissue](https://user-images.githubusercontent.com/40511096/42070709-615b2192-7b75-11e8-863f-a9377aaac344.png)

[2018-06-29 05:20] laxersaz commented on #57
Hello,

please attach a json result file for me to test it. Alternatively yiu can also attach a zip file containing the generated report.

Best,
Benjamin

[2018-06-29 05:29] laxersaz commented on #57
Thanks a lot, I will investigate this further.

[2018-06-29 07:00] SumanpreetJhinjer opened #58 "Mismatching numbers on features report page"
Hi Lax,

There is a bug on counting the number of features passed, Instead of number of features passed its stating the total number of runtime features passed which is basically the total number of scenarios.
PFA the screenshot.
![bug](https://user-images.githubusercontent.com/40511096/42077919-2abfc67e-7b98-11e8-8b32-c8388215395b.png)

[2018-06-29 07:51] laxersaz commented on #58
This is intended. The passed, failed and skipped values refer to the scenarios since a feature does not really have one defined state. How would you handle features with a mix of passed, failed and skipped scenarios?

[2018-06-29 07:58] high4life opened #59 "Malformed regular expression: Illegal/unsupported escape sequence"
**Describe the bug**
Hello,

I have a step in which I pass an interval as a parameter in some examples:

Then the order list should contain 1 order on "<var1>" with a weight in interval <var2>
    Examples:
      | var1  | var2      |
      | str1   | !]0,100[ |
      | str2   | ]0,100[  |
[....]

All tests pass but when the cluecumber-plugin begins to parse the cucumber.json, I get this error:

b

[2018-06-29 08:01] laxersaz commented on #57
For me it looks correct.

![screen shot 2018-06-29 at 10 00 56](https://user-images.githubusercontent.com/5775857/42080557-665eb402-7b83-11e8-9ecf-04784709e478.png)

Which version of Cluecumber are you using? And which Browser are you using to view the report?

[2018-06-29 08:34] high4life commented on #59
Hi @laxersaz,
Many thanks !
Cheers,
Tomas

[2018-06-29 08:57] laxersaz commented on #59
Your example is invalid JSON at
`"name": "the order list should contain 1 order on "pf1" with a weight in interval !]0,100[",` because of the double quotes around `pf1`. If I use single quotes I get the same error message as you. So your bug is definitely valid.

[2018-06-29 09:15] SumanpreetJhinjer commented on #57
It's working fine with chrome editor but not with default eclipse editor.
cluecumber version 1.0.0

[2018-06-29 09:37] laxersaz commented on #57
Hello @SumanpreetJhinjer ,
I don't know the Eclipse browser at all (I don't use Eclipse anymore). Also, the generated reports are designed for more common web browsers. If you have any JS errors that you can send me I can look into this issue further.

[2018-06-29 09:52] SumanpreetJhinjer commented on #57
It's not throwing any error though...Thanks @laxersaz ....

[2018-06-29 09:52] #57 closed

[2018-06-29 13:01] high4life commented on #59
Ok, I told myself the same thing ;)
Do you have any plan for the 1.1.0 release? Just to know if I should rollback the version or if  I can let my build as a "failure" for some days, knowing that it is only the extended report that fails.

[2018-06-29 13:04] high4life commented on #51
Nice, I look forward to use this new "fancy" feature xD

[2018-06-29 13:32] laxersaz commented on #59
I will most likely remove this feature in the next release and think about reimplementing it again. The thing is that the way it is done now, it will fail on certain regex characters. To implement it correctly, I would have to rely on the Cucumber argument offsets in the JSON file. These are apparently flawed on special characters.
Until then, I would recommend rolling back to the previous version

[2018-06-29 13:33] laxersaz commented on #59
I am planning on releasing 1.1.0 asap. It will take some more time though because I have to rewrite the chart handling since the charting library I use at the moment does not support the advanced features I need :-(

[2018-06-29 13:35] laxersaz commented on #57
I am rewriting the chart handling so it might be fixed in 1.1.0

[2018-06-29 14:19] laxersaz commented on #59
Oh maybe it works after all. I may have just found a way to do it:

![screen shot 2018-06-29 at 16 18 24](https://user-images.githubusercontent.com/5775857/42097320-2983b87c-7bb8-11e8-8786-39a98114eab4.png)

[2018-06-29 14:29] high4life commented on #59
Oh yeah, great ! I'll follow your advise and rollback to 0.8.0 to wait for 1.1.0. Cool having a way to keep highlighting in 1.1.0 :)

[2018-07-03 09:16] laxersaz commented on #59
Ready to release.

[2018-07-03 09:16] #59 closed

[2018-07-03 09:17] #58 closed

[2018-07-03 09:17] laxersaz commented on #58
I added better labels to the numbers in 1.1.0

[2018-07-03 09:17] laxersaz commented on #51
Ready to release.

[2018-07-03 09:17] #51 closed

[2018-07-03 09:34] laxersaz commented on #51
@high4life version 1.1.0 was just released and should be on Maven Central soon!

[2018-07-03 09:35] laxersaz opened #61 "Update license"

[2018-07-04 12:20] #61 closed

[2018-07-05 09:10] high4life opened #62 "Could not render page content"
**Describe the bug**
Hello,

After updating to the 1.1.0, I have this error on one of my scenarios:

build	04-Jul-2018 17:42:43	[ERROR] Failed to execute goal com.trivago.rta:cluecumber-report-plugin:1.1.0:reporting (report) on project pamfolio-testing-swing: Could not render page content: An error has occurred when reading existing sub-variable "nameWithArguments"; see cause exception! The type o

[2018-07-05 10:52] laxersaz commented on #62
Trying to reproduce it but so far no luck. I tried it with removing arguments, removing the step name altogether, just trying to break the report generation.

Could you run the report generation with the Maven `-X` flag and post the stack trace here?

[2018-07-05 10:58] laxersaz opened #63 "Evaluate rocker templates"
https://github.com/fizzed/rocker

[2018-07-06 13:32] BillMatthews commented on #62
I have a similar stack trace but it may be a different cause - possibly related to use of characters such as '{' in scenario details. I can attach some of the stack trace if you want or create a new issue

[2018-07-06 13:39] laxersaz commented on #62
Hi there, if you open a separate issue that would be great. If they are related I will link them.

[2018-07-09 10:19] laxersaz commented on #62
I was able to reproduce this issue so I am now working on it.

[2018-07-09 11:31] laxersaz commented on #62
I just release v1.1.1 with a fix for this issue. Please try this when it reaches Maven central and let me know :-)

[2018-07-09 11:32] #62 closed

[2018-07-12 08:45] laxersaz commented on #62
Hello @high4life and @BillMatthews,

did the new version fix the rendering issue?

All the best,
Benjamin

[2018-07-12 08:54] BillMatthews commented on #62
Yes, v1.1.1 seems to have resolved the issue I was having

Thanks for the quick turn around

From: Benjamin Bischoff <notifications@github.com>
Sent: 12 July 2018 09:46
To: trivago/cluecumber-report-plugin <cluecumber-report-plugin@noreply.github.com>
Cc: Bill Matthews <bill.matthews@targettesting.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [trivago/cluecumber-report-plugin] Could no

[2018-07-12 09:40] laxersaz commented on #62
Thanks for your feedback!

[2018-07-14 20:41] laxersaz commented on #63
Done in a separate project

[2018-07-14 20:42] #63 closed

[2018-07-16 11:05] tomaugs commented on #62
Hi @laxersaz ,

I was in holidays last week but I can now confirm that the new v1.1.1 has resolved the issue.
Thx a lot for this quick fix !

Thomas

[2018-07-17 14:26] tomaugs opened #65 "Display the error message of a @AfterStep hook's failure"
**Is your feature request related to a problem? Please describe.**
It might be possible to have failures in an @AfterStep hooks (available since cucumber v3) and this failure may happened after the last step of the scenario/feature.
In this case everything is green (feature, scenario, steps) and no error message is displayed in the cluecumber report. But if you have a look on the basic cucumber ht

[2018-07-17 17:51] laxersaz commented on #65
Hello and thanks a lot for reporting. Do you have an example json file of a test result with after step hook failures?
Best,
Benjamin

[2018-07-18 07:04] tomaugs commented on #65
Hello,

Here's the cucumber.json:

[
  {
    "line": 2,
    "elements": [
      {
        "before": [
          {
            "result": {
              "duration": 189889559,
              "status": "passed"
            },
            "match": {
              "location": "GlobalHooks.isReady()"
            }
          }
        ],
        "line": 5,
        "name": "Forex rates import date",

[2018-07-18 08:01] laxersaz opened #66 "Support Cucumber 3 BeforeStep hooks in the report"
Related to https://github.com/trivago/cluecumber-report-plugin/issues/65

[2018-07-25 07:31] laxersaz opened #67 "Exception on rendering Karate step"
```Step{line=10, name='match $.search == 0', keyword='And ', rows=[]}``` causes

Java method "com.trivago.rta.json.pojo.Step.returnNameWithArguments()" threw an exception when invoked on com.trivago.rta.json.pojo.Step object

[2018-07-25 16:55] laxersaz commented on #67
This is fixed for release 1.2.0

[2018-07-25 16:55] #67 closed

[2018-07-26 06:32] svarunbe commented on #67
@laxersaz
Can you please let us know by when will you release the v1.2.0.
Im also facing this issue.

thanks

[2018-07-26 09:48] laxersaz commented on #67
The ambitious plan is to release it tonight. I will announce it when it is ready.

[2018-07-26 16:37] laxersaz commented on #67
Update: I will release tomorrow. The Cucumber 3 compatibility is almost done and I want to release that too.

[2018-07-27 09:00] laxersaz commented on #66
Failing before step hooks will be displayed in 1.2.0

[2018-07-27 09:00] #66 closed

[2018-07-27 09:05] laxersaz commented on #65
For version 1.2.0 I added the capability to show failing before and after step hooks in the report details. However, Cucumber itself does not report a scenario as failed if the *last* after step hook fails. In this case this failure is not connected to the step before.
This seems to be an ongoing discussion since essentially after step hooks should not be used for assertions but rather for clean u

[2018-07-27 09:22] laxersaz opened #68 "Align Cluecumber reporting to the official Cucumber BDD ruleset"
* Find out if scenarios should fail on AfterStep failure of the last step?
* Research an official document describing the various step and hook result combinations to consider passed, failed and skipped

[2018-07-27 09:22] laxersaz commented on #65
Follow up https://github.com/trivago/cluecumber-report-plugin/issues/68

[2018-07-27 09:22] #65 closed

[2018-07-30 10:36] svarunbe opened #70 "Scenario with both 'Passed' and 'Skipped' steps shows 'Failed' scenario."
Hi @laxersaz

Problem:
I observe that when a scenario has 'passed' and 'skipped' steps in it, then the scenario is marked as 'Failed' in the report.

Solution:
I think, a scenario should be 'Failed' only when it has 'Undefined' or 'Pending' or 'Failed' steps.
When a scenario has 'Passed' and 'Skipped' steps, the result should be 'Passed'.

Kindly let me know, if my understanding is wrong.

Thanks,

[2018-07-30 13:40] laxersaz commented on #70
That is actually true. I will add this in for the next release.
Thanks for reporting!

Best,
Benjamin

[2018-07-30 13:54] laxersaz commented on #70
Fix is included in this branch: https://github.com/trivago/cluecumber-report-plugin/tree/bugfix/wrong-status-on-skipped-and-passed-steps

[2018-07-30 14:53] laxersaz commented on #68
Contacted Cucumber OSS Community in order to clarify this. Waiting for replies.

[2018-07-30 17:51] svarunbe commented on #70
@laxersaz
Thanks for the fix.
Could you please make a sub release, so that I can use this?

One more question:
Is it possible to show step arguments below each steps log in the report with expand and collapse feature.
Like how it is displaying stack trace for failed steps, it has to display for all the steps with option to show/hide.

If yes, I will open a new ticket.

Thanks,

[2018-07-30 17:55] svarunbe commented on #67
@laxersaz

It is working fine now.

Thank you.

[2018-07-31 05:44] laxersaz commented on #70
Yes I will make a sub release very soon for this fix that will also incorporate the correct step hook considerations.
For the feature, please open a new ticket 🙂

[2018-07-31 07:39] laxersaz commented on #68
If an after hook fails, then Cucumber-Ruby, Cucumber-JVM will mark that scenario as failed in the summary, that is a summary like:
[code]

[2018-07-31 07:44] laxersaz commented on #68
* Consider step hook failures in calculating scenario failures
** A scenario in which a beforeStep or afterStep hook fails
*** FAILED
** A scenario in which the last step passes but has a failing afterStep hook
*** FAILED
** A scenario which consists of only passing and skipped steps
*** PASSED
* Don't modify step results when step hooks fail

[2018-07-31 09:10] laxersaz commented on #70
This will be released in 1.2.1 today.

[2018-07-31 09:10] #70 closed

[2018-07-31 10:02] laxersaz commented on #68
Implemented and ready for release.

[2018-07-31 10:02] #68 closed

[2018-07-31 10:17] svarunbe opened #73 ""doc_string" from json file should be displayed below every steps with option to show/hide it."
@laxersaz
Currently, "doc_string" is displayed below the steps, only if it is failed, and it doesn't have option to hide it.

It would be better, if the report shows the "doc_string" below every steps irrespective of its status and an option to show/hide it.

Thanks,

[2018-07-31 11:37] laxersaz commented on #73
Do you have an example json that shows this behavior?
Thanks :)

[2018-07-31 12:44] svarunbe commented on #70
@laxersaz
Apologies.
I realized after trying with the latest release that scenario with "passed" and "skipped" steps should have result as "skipped" since all the steps in that scenario is not "passed".

Please check the attached image. I have purposefully skipped 10 scenarios using karate.abort(), but then the result is shown as "passed".

![feature result](https://user-images.githubusercontent.c

[2018-07-31 13:03] laxersaz commented on #70
According to the Cucumber developers, in this case a scenario should be passed. Cluecumber considers it skipped if it only consists of skipped or pending steps.

[2018-08-03 06:44] svarunbe commented on #70
@laxersaz

Yes I agree that if a scenario should be skipped if all the steps in it are skipped.

But I observe a behaviour in "Cluecumber" that Background and Scenario steps are merge together to generate a report.

In that case, if any steps in background is passed, then the scenario result will always be passed irrespective of whether all steps in the scenario is 'Skipped'.

Kindly refer the att

[2018-08-03 08:16] laxersaz commented on #70
Hi @svarunbe ,
Background steps are basically syntactic sugar for steps that are repeated in each scenario. So technically it is correct that the scenario as a whole is marked as passed when Background steps pass and the rest are skipped. Your idea is definitely possible to implement but I guess this will be against the official Cucumber rules. I will ask in the Cucumber OSS group to get some more

[2018-08-03 10:07] laxersaz commented on #70
I asked the Cucumber developers and they said the same. So the scenarios with passing background steps and skipped steps after it should be considered passed.

[2018-08-03 13:30] svarunbe commented on #70
@laxersaz
Yes. We have to follow the standards. But I do not see any practical use case where we will skip a scenario from start of "Background" step.
Could it be implemented with a flag as "strict". If the flag set as 'true', it can produce report as cucumber team suggested and if not, the report can produce as how user wants.

Please consider this use case.

Thanks,

[2018-08-03 13:54] laxersaz commented on #73
doc_strings can be present in all steps, not only in karate but also in other Cucumber frameworks. So I will add support for this. However, in the first iteration I will not make this toggle-able as this is a Cucumber feature that should be visible. In one of the next versions I will rethink how step data (embeddings, outputs, doc_strings) should be displayed

[2018-08-03 14:02] laxersaz opened #74 "Introduce options for different handling of skipped scenarios"
We have separate use cases here:
* Scenarios that should be considered failed when steps are pending (like Cucumber `strict` mode)
* Scenarios that skip all steps but have passing background steps (currently they are reported as passed)

[2018-08-03 14:03] laxersaz commented on #70
I created a follow up, also to continue the discussion there:
https://github.com/trivago/cluecumber-report-plugin/issues/74

[2018-08-05 14:53] cjwfly1988 commented on #18
maybe I can help this ;)

[2018-08-06 06:57] laxersaz commented on #18
If you have an idea for this just grab it.

[2018-08-07 08:01] tomaugs opened #75 "Improve the display of data tables parameters and stacktraces"
### Expected behavior
Better formatting the display of data tables parameters and stacktraces.

### Actual behavior

- Data Tables parameters:
For now the data tables headers and values are split for each space with a new line. And if you have a big list of parameters it could be very hard to read all the table.

- Stacktraces:
Stacktraces can be hard to read also, especially if you have a lot of

[2018-08-16 10:27] subodh2691 opened #76 "Unable to get the screenshot attached to reports in case of failures"
Hello,

I was trying to use the plugin but I am unable to get the screenshots attached to the report in case of any failures. Can you help me here?

[2018-08-16 10:27] subodh2691 commented on #76
POM.xml ->

<plugin>
        <groupId>com.trivago.rta</groupId>
        <artifactId>cluecumber-report-plugin</artifactId>
        <version>1.2.1</version>
        <executions>
            <execution>
                <id>report</id>
                <phase>post-integration-test</phase>
                <goals>
                    <goal>reporting</goal>
                </goals>
            </execution

[2018-08-16 13:45] alenmeister opened #77 "Cluecumber trying to parse other JSON files located in class path"
**Describe the bug**
It looks as Cluecumber is trying to parse other JSON files located in class path when generating the report. I currently have a bunch of test data stored as JSON objects under test/resources/data/foo.json and there's always an error thrown after my build is done.

**Additional context**
`[ERROR] Could not parse JSON in file 'C:\Users\H804288\Projects\engine-selenium-regress\ta

[2018-08-17 09:50] laxersaz commented on #77
Hello @alenmeister ,
thanks for the report. I will look into this behavior.

[2018-08-17 09:53] laxersaz commented on #76
Hello @subodh2691 ,
if you attach the screenshots to the scenario in your test framework, they are automatically displayed in the report. Can you check if the screenshot is inside one of your generated Cucumber JSON files?

This should look like this:

[code]

[2018-08-17 09:55] laxersaz commented on #75
Hello @tomaugs ,
I was on holidays so I could not look into this request yet. But rest assured, I will :-)
Best,
Benjamin

[2018-08-17 11:13] alenmeister commented on #77
Oh, shoot, I didn't specify where my config.properties file was. I had it under src/test/resources/config/config.properties and once I moved it out from the config folder the error appears to be gone...

[2018-08-17 12:12] subodh2691 commented on #76
Hi @laxersaz, I was expecting this output in my json files, which is missing.
I am using this:
`scenario.embed(((TakesScreenshot)driver).getScreenshotAs(OutputType.BYTES),` `"image/png");`
But using above code throws NullPointerException in Java. Is there something else which needs to be included?

[2018-08-17 19:29] laxersaz commented on #76
Sorry but unfortunatelly I cannot debug your test code for you. If there are problems with Cluecumber itself I am more than happy to help. In your case though, it behaves as expected.

[2018-08-17 19:29] #76 closed

[2018-08-17 19:31] laxersaz commented on #77
Hi again, thanks for letting me know!
Can this issue be closed then?

[2018-08-17 19:36] laxersaz commented on #18
Hi @cjwfly1988 did you start this one already?

[2018-08-17 20:36] cjwfly1988 commented on #18
Not yet, I don’t have time during this week. Will try next

[2018-08-17 21:09] #77 closed

[2018-08-21 14:39] magori opened #79 "attachments' could not be created"
**Describe the bug**
when y launch this comande:  mvn cluecumber-report:reporting -e

I have this error : org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.trivago.rta:cluecumber-report-plugin:1.2.1:reporting (default-cli) on project affiliation-service-bdd: Path '>D:\workspaces\avs\avs4-bdd\affiliation-service-bdd\target/site/cluec
umber-report/attachments' could

[2018-08-21 15:10] laxersaz commented on #79
Please try specifying your path with forward slashes. Currently you have a mixture of backslashes and forward slashes.

[2018-08-21 15:48] laxersaz commented on #75
Ready for release in 1.3.0

[2018-08-21 15:48] #75 closed

[2018-08-21 15:49] laxersaz commented on #73
Ready for release in 1.3.0

[2018-08-21 15:49] #73 closed

[2018-08-21 15:50] laxersaz commented on #38
Ready for release in 1.3.0

[2018-08-21 15:50] #38 closed

[2018-08-21 16:17] magori commented on #79
Thanks for the answer. I found my problem.
I left this char ">" in the configuration of the plugin.
<generatedHtmlReportDirectory>**>**${project.build.directory}/site/cluecumber-repor</generatedHtmlReportDirectory>
Sorry for the disagreement

[2018-08-21 16:17] #79 closed

[2018-08-27 08:11] tomaugs commented on #75
Hello @laxersaz ,

I was also on holidays and I just come back.
Thanks a lot for this new release which increases a lot the readyness of reports.

Br,

Thomas

[2018-08-27 09:32] laxersaz commented on #75
Thanks a lot for your kind words, @tomaugs !

[2018-08-27 23:21] aritranayak opened #81 "Add a new page to show a timeline of feature/scenarios that were executed"
**Is your feature request related to a problem? Please describe.**
Problem in the sense that sometimes it is better to get a sequential view of the tests that were run in a numbered order, with the name of the method that got executed and whether it failed or passed or got skipped because of previous method(s) failing. This will help with understanding any gaps (like some missing steps) and a full

[2018-08-28 10:27] laxersaz commented on #81
Hi @aritranayak ,

Can you clarify the look of such a page with an example? I'm not sure I completely get the intention.

Best,
Benjamin

[2018-08-28 17:42] aritranayak commented on #81
@laxersaz I will try to create a mock-up and share the same at the earliest. Thanks for your patience.

[2018-08-28 23:00] aritranayak commented on #81
Hi @laxersaz ,

  What I am trying to see is something like this:

![proposed mock-up](https://user-images.githubusercontent.com/12704424/44755333-938ec580-aada-11e8-91b4-ce8f42095131.png)

  The gray part is the Scenario which have the feature name just above it.
  The Scenarios can be expanded or collapsed by clicking on them. On expanding a scenario, we will get the steps available under them a

[2018-08-29 12:54] laxersaz commented on #81
To be honest, I think having a page like this would transport the wrong idea. There should never be any dependency between scenarios let alone their execution order.
What could be done as a compromise is to expose the scenario index on the "All Scenarios" page tables so that it can be sorted by their order. This would keep the division into the three state tables, though (passed, failed, skipped).

[2018-08-30 09:12] laxersaz opened #82 "Hide custom parameters without a set value"

[2018-08-31 13:33] laxersaz commented on #82
Ready and releasable for 1.4.0

[2018-08-31 13:33] #82 closed

[2018-09-05 05:37] svarunbe commented on #73
Hi @laxersaz,

It is great to have this feature. Thank for that.
Can we expect the expand collapse feature any time sooner as the doc_string for each step added cause the report not readable much.

Thanks

[2018-09-05 07:36] laxersaz opened #83 "Make doc_strings collapsible in scenario details"

[2018-09-05 07:37] laxersaz commented on #73
Hello @svarunbe ,
I created a follow up task for this and plan to do it for the next release: #84

[2018-09-05 10:11] svarunbe commented on #73
@laxersaz

Great. Appreciate that.

[2018-09-05 18:10] robsonpolicarpo opened #84 "Is it possible for me to use gradle rather than maven?"
Is it possible for me to use gradle rather than maven?

[2018-09-06 08:01] valdeziscoming opened #85 "Report layout for scenarios breaks when using broad tables with many attributes"
When using tables with many attributes, the layout is broken

**Expected behavior**
panel should rendered more flexible, or in two parts (line break)

![image](https://user-images.githubusercontent.com/16211650/45143539-dd06a100-b1bb-11e8-88b0-97ad05e22ba7.png)

[2018-09-06 08:39] laxersaz commented on #84
Hello @robsonpolicarpo , as I have too little gradle experience, I cannot really help you here (yet). In the future, I might consider porting Cluecumber over but at this moment, it is Maven only.
However, as far as I know you can also invoke maven goals through gradle (https://github.com/dkorotych/gradle-maven-exec-plugin) - maybe this would be an option?

[2018-09-06 08:44] laxersaz commented on #85
Hi @valdeziscoming !
Thanks for reporting this, I honestly didn't expect such large tables to exist in test cases.

[2018-09-06 08:58] laxersaz commented on #85
This panel will be responsive / scrollable in 1.4.0

[2018-09-06 13:30] #85 closed

[2018-09-06 13:30] laxersaz commented on #81
Ready for release in 1.4.0

[2018-09-06 13:30] #81 closed

[2018-09-06 13:31] laxersaz commented on #83
Ready for release in 1.4.0

[2018-09-06 13:31] #83 closed

[2018-09-06 13:41] #84 closed

[2018-09-07 12:50] valdeziscoming commented on #85
Thanks !

[2018-09-19 15:19] hanikhan opened #90 "Incorrect label for Tag Summary Result Chart under All Tags"
**Describe the bug**
Incorrect label for Tag Summary Result Chart under All Tags

**To Reproduce**
Steps to reproduce the behavior:
1. Add a few tags in your feature file
2. Observe legends for 'Tag Summary Result Chart' under all tags report
3. Legends read 'passed' , 'failed' and 'passed'

**Expected behavior**
 Legends should read 'passed' , 'failed' and 'skipped'

[2018-09-20 08:19] laxersaz commented on #90
This will be included in the next release.

[2018-09-20 08:19] #90 closed

[2018-10-02 23:53] luigidemasi opened #92 "Add the possibility to skip the execution of plugin by configuration"
mimic the behaviour of failsafe and surefire plugin, skipping the execution of the plugin by configuration property.
For example:
[code]

[2018-10-04 10:41] #92 closed

[2018-10-14 01:38] opsxcq opened #95 "AfterStep/BeforeStep attachments not being displayed"
When using `@AfterStep` and `@BeforeStep` hooks the attachments aren't shown in the report.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hook for `@AfterStep`.
2. Take a screenshot from the selenium
3. Attach the screenshot to the `Scenario`.
4. Generate the final report
5. Navigate to the desired scenario
6. There is no images on any step.

**Expected behavior**
Screenshots bein

[2018-10-14 05:54] laxersaz commented on #95
Hello @opsxcq,
thanks for this detailed bug report. I will tackle this on Monday.
Best,
Benjamin

[2018-10-15 17:05] opsxcq commented on #95
I had to censor some information that I'm not allowed to share, but I kept the structure (replaced that info with XXXX). The embeddings after every step aren't being rendered.

[code]

[2018-10-15 17:28] laxersaz commented on #95
Great! This helps a lot!

[2018-10-15 23:30] opsxcq commented on #95
Thank you @laxersaz ! Let me know if you need any additional information.

[2018-10-16 09:18] laxersaz commented on #95
Development done, release in progress.

[2018-10-16 09:20] laxersaz commented on #95
I added a toggle button to display step hooks (like I did before with docstrings) since many step hooks may not be interesting for the test report.

[2018-10-21 17:14] Rameshwar244 opened #97 "The Plugin does not show the correct content for text and html format attachments."
Hi Team,

The Plugin does not show the correct content for text and html format attachments in AfterHooks section.
The attachments are added using below code.

HTML Attachment:-

		StringBuilder stringBuilder = new StringBuilder("<table border='1' cellpadding='10' cellspacing='0'><tbody><tr><th><B>Field Name</th><th><B>Field Value</th></tr><tr><td><B>Field Name One</td><td><B>Field Value One</td><

[2018-10-21 18:28] Rameshwar244 commented on #97
Hi Benjamin,

First of all, Thanks for such a great reporting plugin for cucumber reporting. I have recently started using this. I really appreciate the work done.
I would also like to contribute for improving the same. This will be my first contribution to open source community.
I have already started working on this issue.
I will be creating pull request for the same once I finish the fix.

Kind

[2018-10-22 03:37] tobiswajitdas commented on #97
Greetings, Jenkins HTML report is not displaying the charts and animations from Jenkins. However, opening the same HTML file locally works perfectly. I have seen some old posts but if anyone can direct me to the solution would be great. thank you.

[2018-10-22 07:56] laxersaz opened #98 "Greetings, Jenkins HTML report is not displaying the charts and animations from Jenkins. However, opening the same HTML file locally works perfectly. I have seen some old posts but if anyone can direct me to the solution would be great. thank you."
_Originally posted by @tobiswajitdas in https://github.com/trivago/cluecumber-report-plugin/issues/97#issuecomment-431734596_

[2018-10-22 07:57] laxersaz commented on #97
Hi! I'm looking forward to your pull request.

[2018-10-22 08:03] laxersaz commented on #18
Started tackling this myself :-)

[2018-10-22 16:39] laxersaz commented on #97
Hello,

Please open a separate issue as your comment was unrelated to the thread.

Thanks!

From: tobiswajitdas <notifications@github.com>
Reply-To: trivago/cluecumber-report-plugin <reply@reply.github.com>
Date: Monday, 22. October 2018 at 06:09
To: trivago/cluecumber-report-plugin <cluecumber-report-plugin@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [trivago/c

[2018-10-23 04:47] laxersaz commented on #98
Hello @tobiswajitdas
Please see https://stackoverflow.com/questions/35783964/jenkins-html-publisher-plugin-no-css-is-displayed-when-report-is-viewed-in-j about the jenkins content policy settings.

[2018-10-23 09:53] #98 closed

[2018-10-24 10:38] Rameshwar244 commented on #97
Hi Benjamin,

The bug is fixed with Pull request https://github.com/trivago/cluecumber-report-plugin/pull/99.
Please review the same.

[2018-11-06 00:59] bbarman4u opened #100 "Generate the cluecumber report despite failure of tests"
I am not sure if this is the intended feature currently but it requires two steps in order to view the cluecumber report by explicitly calling the cluecumber goals if there is a test failure( either from surefire or failsafe plugin). It would be nice if despite the build failure status it would still execute the reporting phase somehow.

I am sorry if there is already another recommended approach

[2018-11-06 08:40] laxersaz commented on #100
Hi, this is standard Maven behavior. Please look at https://github.com/trivago/cluecumber-report-plugin/issues/49

[2018-11-06 08:40] #100 closed

[2018-11-07 09:49] Rameshwar244 commented on #97
Hi,

I am working on it. will commit required changes today.

Thanks,
Rameshwar

[2018-11-08 14:55] #97 closed

[2018-11-29 12:59] depwaswho opened #102 "Include webpage screenshot in the report"

[2018-11-29 13:04] laxersaz commented on #102
Screenshots are always included in the report.
Please give more details about your use case.

[2018-12-02 15:56] laxersaz commented on #102
If you have more details about your use case and you are sure the screenshot is included in the source JSON files from Cucumber, please open a separate issue.

[2018-12-02 15:56] #102 closed

[2018-12-04 09:43] seetaramh opened #103 "Plugin throws error in Jenkins"
We have integrated Cluecumber reporting plugin for generating reports with jvm-parallel plugin. It works fine in local system and generates the report very well. When executed on Jenkins. It does not execute the goal. Below is the detailed exception.

[code]

[2018-12-04 15:00] laxersaz commented on #103
It looks like on Jenkins it is executed with an old Maven version. So you either need to
- update Maven on Jenkins or
- run it in a Docker container with a newer Maven version

[2018-12-05 11:30] seetaramh commented on #103
Thanks so much!!! working fine now

[2018-12-05 11:31] laxersaz commented on #103
Perfect 👍

[2018-12-05 11:31] #103 closed

[2018-12-11 16:39] laxersaz opened #104 "Make links clickable in docstrings and stacktraces"

[2018-12-12 07:42] Shebeok opened #105 "Make screenshots and other embedded files as a link next to the step instead of displaying it as is in the html report."
**Is your feature request related to a problem? Please describe.**
When I add a screenshot after a step fails. It obscures/hides the previous steps because it is displayed as a embedded image.

**Describe the solution you'd like**
Make screenshots and other embedded files as a link next to the step instead of displaying it as is in the html report.

[2018-12-14 12:15] laxersaz opened #108 "Wrong links for scenarios when more than 999 scenarios are included in the report"
**Describe the bug**
Links from the scenario overview page don't point to the correct detail page because they contain a comma delimiter for scenario indices 1000 and above.

**Expected behavior**
Scenario detail link should always link to the correct detail page.

[2018-12-20 03:34] jaydeepqa opened #110 "How to add a screenshot after a step fails"
I am using Cucable along with Cluecumber report plugin, I am facing a difficulty in understanding the fact that how to add a screenshot in report after a step fails.
I can take screenshots using Selenium built in library but the problem is how to add it in report. Is there any built in function Cluecumber report library that I need to call?
Please suggest.

[2018-12-20 08:30] laxersaz commented on #110
Your test framework has to take care about taking and attaching screenshots.
Cluecumber just takes the generated JSON files and generates reports from them. So everything that is included in the JSON is showing up in the report in the end.

So after taking the screenshot, you need to attach it to the scenario within your test framework, e.g. in an after hook:

[code]

Whatever is attached to a sce

[2018-12-20 08:30] #110 closed

[2018-12-20 08:31] jaydeepqa commented on #110
Got it, thanks for your answer.

[2019-01-03 23:30] Galileo1 opened #111 "Tag Summary view is blank in html report despite features being tagged"
**Describe the bug**
Tag Summary Page of the HTML report is blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Run test (that have feature level tags and not scenario level tags) in default parallelizationMode.
2. Check the cluecumber json report.
3. At the very bottom you might see that tags block.
4. Check the cluecumber html report and click on Tag Summary view.
5. The report doesn't

[2019-01-04 08:05] laxersaz commented on #111
Hello @Galileo1 , is it possible to send me your generated JSON so I can use the exact data you have to reproduce this behavior?

[2019-01-06 06:49] jaydeepqa opened #112 "How to add custom message and remove Before and After in cluecumber report"
I want to add a custom message to a particular step, hence I did the following but failed :
First, I added my custom message like :
scenario.write("The field is not displayed").
Now post generation of html report , I see the text is not coming instead a white space is appearing.
You can check my attached screenshot below. How to mitigate this..any idea
![image](https://user-images.githubuserconten

[2019-01-06 19:31] Galileo1 commented on #111
Hi @laxersaz , I have attached the json file. All other pages are displaying the correct data. I checked the browser console for if there are any errors or something is breaking on tag summary report but nothing's there.
[test json file.txt](https://github.com/trivago/cluecumber-report-plugin/files/2730790/test.json.file.txt)

[2019-01-07 08:48] laxersaz commented on #112
Hi @jaydeepqa ,
could you please add the generated JSON so I can test it with your original data?
Thanks,
Benjamin

[2019-01-07 08:48] laxersaz commented on #111
I'm looking into this one

[2019-01-07 10:35] laxersaz commented on #111
This is a valid bug that I will fix for release 1.6.3

[2019-01-07 14:22] jaydeepqa commented on #112
Please find attached the Json file.
Also note that I was opening the html file in IE edge, so the screenshot shared with you earlier was of IE edge. However when opened in Chrome, the text is coming but the text is coming in a white box which doesn't look good.
[HomePage_scenario001_run001_IT.zip](https://github.com/trivago/cluecumber-report-plugin/files/2733044/HomePage_scenario001_run001_IT.zip)

[2019-01-07 14:31] jaydeepqa opened #113 "Does cluecumber report plugin support any other status apart from Pass/Fail for example status like Warning"
Does cluecumber report plugin support any other status apart from Pass/Fail for example status like Warning.
I personally think this would be very useful for scenarios like for example, in one test case if I have to test whether 20 fields are appearing or not, in that case I have 20 gherkin lines for 20 fields then if one field in between doesn't appear then the test fails there is no way I could

[2019-01-07 16:46] laxersaz commented on #112
The Cluecumber version you are using is very old. The current one is 1.6.2
1.6.3 is coming out tomorrow which will also introduce showing and hiding scenario hooks.

[2019-01-07 16:49] laxersaz commented on #113
As Cluecumber does not execute any tests but only takes the generated JSON and turns it into reports, this is something you need to tackle in your test framework.

[2019-01-07 16:49] #113 closed

[2019-01-07 16:49] laxersaz commented on #111
Ready for release in 1.6.3

[2019-01-07 16:49] #111 closed

[2019-01-07 16:50] #112 closed

[2019-01-07 21:05] ubobur95 opened #114 "When running scenarios in parallel the test runtime is wrong"
When I run scenarios in parallel, the reporter shows overall time instead of showing parallel runtime.

[2019-01-08 00:29] josepj opened #115 "Messages written to the report using a scenario.write() from @AfterStep are not fully visible"
*Cluecumber report v1.6.2*
*Cucumber v4.2.0*

Thanks for this great reporting tool @laxersaz. Not sure whether I am doing something wrong, but messages written to the report using a scenario.write() from AfterStep are not fully visible.

I tried the following from AfterStep:
[code]
And the messages appear in the report like this:

![logsafterstep](https://user-images.githubusercontent.com/9464895/

[2019-01-08 08:15] laxersaz commented on #115
I just noticed this behavior too while working on the current release. I will tackle this now and include it in the upcoming 1.6.3

[2019-01-08 08:20] laxersaz commented on #114
Cluecumber has no idea about which tests ran in parallel as this information is not exposed in the generated Cucumber JSON files. So the shown time is actually correct. How this time is distributed between parallel runs cannot be determined.

[2019-01-08 08:20] #114 closed

[2019-01-08 12:27] #115 closed, assigned to bischoffdev

[2019-01-09 08:52] laxersaz opened #117 "Add configurations to show/hide hooks automatically"

[2019-01-09 10:02] boris779 opened #118 "No charts in test-report"
I cannot see any charts in the report (I tried EDGE, Chrome and Firefox)

![grafik](https://user-images.githubusercontent.com/10259016/50891252-2c740c80-13fc-11e9-8334-703f525e44b6.png)

[test-report.zip](https://github.com/trivago/cluecumber-report-plugin/files/2740263/test-report.zip)

It looks like similar to the Issue #57

Opened the report in a jenkins-pipeline-workspace. If I download the wh

[2019-01-09 10:17] laxersaz commented on #118
Please see this issue #98 - it is most likely the Jenkins content policy.

[2019-01-10 13:55] boris779 commented on #98
Thx @laxersaz stackoverflow solution worked for me!

[2019-01-15 16:19] ktohan opened #119 "Broken cluecumber reports"
A clear and concise description of what the bug is.

On karate test execution we are getting these broken reports. Can you please have a look ?

![demo](https://user-images.githubusercontent.com/46044874/51193620-8b002580-18e9-11e9-8055-e142c0430143.PNG)
![demo2](https://user-images.githubusercontent.com/46044874/51193628-8fc4d980-18e9-11e9-8721-443eba633592.PNG)

[2019-01-15 16:24] laxersaz commented on #119
Thanks for reporting this. It seems like long scenario names without spaces break the layout.

[2019-01-16 09:10] laxersaz commented on #119
Ready for release in 1.6.4

[2019-01-16 09:10] #119 closed

[2019-01-18 12:32] valdeziscoming opened #121 "No resizement of embeded html (iframes) when expanding the after step/scenario hooks sections"
html height of iframe not set after expanding steps/scenario hooks

Steps to reproduce the behavior:
1. Embed a html with fixed size within a afterStep/afterHook scenario e.g.

`<div align='center' style='height: 150px'><a href='https://www.google.com' target='_blank'>Google..</a></div>`

2. Click on Show Step Hooks / Senario Hook button
3. Scroll down to the expanded sections
4. the height of the

[2019-01-21 16:45] laxersaz commented on #121
Fixed in version 1.6.5

[2019-01-21 16:45] #121 closed

[2019-01-22 07:44] jl-yang-arm opened #123 "incompatible with maven 3.3.9"
**Describe the bug**
With maven 3.3.9 and latest cluecumber release, build failed due to internal errors. It's assumed that such issue is resulted from not enforcing maven 3.1.0 API when upgrading dependencies, refer to comment on [issue](https://github.com/jeremylong/DependencyCheck/issues/1054#issuecomment-357226839)

Now build passes with maven 3.5.2.

Example error log:
[code]

**To Reproduce*

[2019-01-22 08:55] laxersaz commented on #123
Hello @jl-yang-arm ,
I just ran the example project successfully with Maven 3.3.9 and the latest Cluecumber version.

![image](https://user-images.githubusercontent.com/5775857/51523241-84af0380-1e2b-11e9-8055-49843c9c4e2c.png)
---
![image](https://user-images.githubusercontent.com/5775857/51523275-9c868780-1e2b-11e9-838f-f56b0f6c75a7.png)
---
![image](https://user-images.githubusercontent.com/577

[2019-01-22 13:57] abhishek8908 opened #124 "Tag summary giving wrong tagged scenario count"
**Describe the bug**
Tag summary giving wrong tagged scenario count.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cucumber scenario and give it multiple tags, let's say 3.
2. Run the scenario.
3. Verify the Tag summary page

**Actual Behavior***
Tagged Scenario count is 3 , sum of all tags count.

**Expected behavior**
Tagged Scenario count should be 1 as there is only one scenar

[2019-01-23 08:46] jl-yang-arm commented on #123
it could be a dependency conflict due to other dependencies my project injected then.

I'd close this issue since you confirmed the plugin works properly alone, thanks

[2019-01-23 08:46] #123 closed

[2019-01-28 09:13] laxersaz opened #125 "Add feature name to scenario detail pages"

[2019-01-29 14:12] jaydeepqa opened #126 "Is there any way to handle historical data of all automation runs in a single dashboard."
When we run a html report gets generated. Now after say 20-40 runs or maybe more it will be difficult to analyze all the runs if required, for that al individual html report needs to be opened. Is there any way a consolidated dashboard can be created, where user can click on day's run and check that particular html report.

[2019-01-29 15:10] laxersaz commented on #126
Hi! Cluecumber's purpose is to generate a test report of a single run. So if you want to have the functionality that you describe, the reporting would need to keep state of all previous runs. This is out of scope and needs to be solved outside of Cluecumber.
We use kibana to log, report and analyze our test history and from there we can easily go to the Cluecumber report of the relevant historical

[2019-01-29 15:10] #126 closed

[2019-01-29 15:15] jaydeepqa commented on #126
Can you please tell some more a bit that how you use Kibana to log, report
and analyze test history, as I want to do the same, any tutorial/guidelines
will be really helpful.

Thanks!

On Tue, Jan 29, 2019, 8:40 PM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-01-30 14:02] laxersaz commented on #126
Sorry, I can't since this is internal information.
But there is for sure a lot of information out there.

[2019-01-31 18:22] josepj opened #127 "Add test start time to report"
I see that the report currently shows the test execution date and end time on the header. Would it be possible to add the execution start time too to the report? This would help provide an approximate actual run time in case of parallel test execution (related to #114).

[2019-01-31 19:51] laxersaz commented on #127
Hi @josepj
This is a great idea. I will see what I can do :-)
Best,
Benjamin

[2019-02-03 22:50] kadamAbhijeetBalasaheb opened #128 "how to run report using maven surefire plugin and cucmber jvm parellal plugni"
i am using

<groupId>com.github.temyers</groupId>
				<artifactId>cucumber-jvm-parallel-plugin</artifactId>
				<version>4.2.0</version>

and

<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<version>2.20</version>

how to integrate report with above settings

[2019-02-06 13:52] laxersaz commented on #128
Cucable just takes JSON files and generates reports from them. So it does not need to be integrated with those plugins. Instead, it has to be defined in the Maven lifecycle so it can be either invoked automatically after the tests are run (e.g. `mvn clean verify`) or called separately after the tests are run using `mvn cluecumber-report:reporting`.

[2019-02-09 11:03] gazler22 opened #129 "Adding abililty to hide total duration from report"
It looks like the total duration that the report shows when the test cases are running in parallel (using cucable for example), is not the total time taken to run the since cluecumber does not know which scenarios ran in parallel and is actually showing the sum of the total time taken by each scenario.

Refer :
https://github.com/trivago/cluecumber-report-plugin/issues/114

It would be great then

[2019-02-10 12:53] akshattambe opened #130 "Running "mvn com.trivago.rta:cluecumber-report-plugin:1.6.5:reporting" results in error 'parameters for goal reporting are missing or invalid'"
**Describe the bug**
Running "mvn com.trivago.rta:cluecumber-report-plugin:1.6.5:reporting" results in below errro -
'cluecumber-report-plugin: The parameters 'generatedHtmlReportDirectory', 'sourceJsonReportDirectory' for goal com.trivago.rta:c
luecumber-report-plugin:1.6.5:reporting are missing or invalid'

**To Reproduce**
Steps to reproduce the behavior:
1. Get the fresh clone in your local
2.

[2019-02-10 13:11] laxersaz commented on #130
If you want to execute the reporting directly, the `configuration` block needs to be moved  so it appears after the `executions` block. Otherwise this configuration is just for the `post-integration-test` phase.

[2019-02-10 13:13] laxersaz commented on #129
I will think about your suggestion. Until then it might also be possible to hide the time by using a custon css.

[2019-02-10 13:13] #128 closed

[2019-02-10 13:21] akshattambe commented on #130
Hi, I did move the configuration block. I am getting this error now -
 Unable to traverse JSON files in C:\dev\cluecumber-report-plugin\example-project\target/cucumber-repor

I read about this issue as well - https://github.com/trivago/cucable-plugin/issues/83
but not sure what changes in have to do at my end.

[2019-02-10 14:35] gazler22 commented on #129
Yes it will be great if we can do that. I will look into how I can hide the time using css meanwhile, I am not very versed with it.

Thank You!

[2019-02-11 08:02] akshattambe commented on #130
Hi, just wanted to check if you have got any thoughts on this.

[2019-02-11 08:39] laxersaz commented on #130
You are running the reporting step against a directory which doesn't exist. Your configuration is pointed to `${project.build.directory}/cucumber-report` which does not contain any json files when you invoke `cluecumber-report-plugi:reporting` without running tests first.

So you should change the location to `${project.basedir}/json` (as it is done in the example project).

[2019-02-11 08:39] laxersaz commented on #130
Please let me know if this answers it.

[2019-02-11 10:14] akshattambe commented on #130
Yes, it is now working...thank you :)

[2019-02-11 10:15] #130 closed

[2019-02-17 08:21] jaydeepqa opened #131 "Reporting failure in Json instead of calling Assert"
My goal is to continue on failure for some steps.
For that to happen, are you aware of any way to mark a step as fail in Json report instead of calling Assert which fails and halts the execution there itself.
Actually the situation is like, I have to insert data in 30 fields for example and then click save, post that I need to check whether data is present in each and every 30 fields, if there is

[2019-02-17 10:54] laxersaz commented on #131
Hello,
this question is unrelated to Cluecumber which takes the final json results AFTER the test runs and generates reports from them. Your question is about how your tests and test framework should be set up to achieve this.
My personal view: fail fast. If you need granular failure reasons split up your test cases.
Sorry I cannot help further.

[2019-02-17 10:54] #131 closed

[2019-02-17 17:13] jaydeepqa commented on #131
Thanks for your reply,but I couldn't understand that what you tried to mean
when you said "fail fast"

On Sun, Feb 17, 2019, 4:24 PM Benjamin Bischoff <notifications@github.com>
wrote:

[2019-02-18 06:15] laxersaz commented on #131
I prefer fast feedback of tests. So when there is a failure it should be a fast failure. If subsequent steps are run after a failed step and the failure is recorded on scenario end this can be quite a long delay.

[2019-02-18 15:03] laxersaz commented on #127
As this information is not contained within the Cucumber JSON and the file creation date is a very unreliable indicator for the test execution (especially after copying the report files on Jenkins), this is a won't fix. Also, the time in the report is the report creation date and time and not the test creation date and time.

[2019-02-18 15:03] #127 closed

[2019-02-19 08:21] laxersaz commented on #125
Implemented and ready for release.

[2019-02-19 08:21] #125 closed

[2019-02-19 12:32] laxersaz commented on #124
Ready for release in 1.7.0

[2019-02-19 12:43] laxersaz commented on #129
I introduced some data attributes in the html code. So in version 1.7.0, you will be able to add a custom css file that needs to contain:

[code]

in order to hide the total time.

[2019-02-19 12:47] laxersaz commented on #129
Ready to release for 1.7.0

[2019-02-19 12:47] #129 closed

[2019-02-19 12:47] #124 closed

[2019-02-20 15:19] #117 closed

[2019-02-27 15:46] monofrei opened #133 "Ordering by status on Scenarios Sequence page is not working"
Currently ordering by status on the Scenarios Sequence page is not working due to missing text in the cell.

Steps to reproduce the behavior:
1. Make sure to have Failed, Passed and Skipped scenarios in the report.
2. Open the Scenarios Sequence page.
3. Order the table by column Status
4. See behavior

**Expected behavior**
Order entire table by the scenarios' status: Failed, Passed, Skipped usin

[2019-02-27 15:49] laxersaz commented on #133
Hi @monofrei !
Thanks a lot for reporting this!
Would you like to make a PR with your solution? If not, I will fix it for the next release.

[2019-02-28 09:17] monofrei commented on #133
Hi @laxersaz, sure i will do it.

[2019-02-28 09:55] laxersaz commented on #133
You can just fork the repo, make your changes and create a pull request from there.

[2019-02-28 11:54] laxersaz commented on #133
Fixed in 1.7.1

[2019-02-28 11:54] #133 closed

[2019-03-01 11:48] grasshopper7 opened #135 "Hook execution times are not reflected in the test duration total"
I am running cucumber 4.2.3 using failsafe plugin 3.0.0-M3 with 2 runners in parallel using junit 4.12.
[code]
There is nothing much in the scenario steps except for print statements. I have a before hook which takes a scenario object. Also there is a beforestep hook which has a thread sleep of 2secs.

In the Scenario Summary page the total duration does not include the beforestep execution times.

[2019-03-01 11:50] laxersaz commented on #135
Hello @grasshopper7 ,
thanks a lot for reporting this. This is indeed a bug - I will fix this one for the next release.

[2019-03-01 11:54] grasshopper7 commented on #135
@laxersaz U r welcome. If this has any relevance, I am running this on Windows 8.

[2019-03-05 08:25] laxersaz opened #136 "Create a Jenkins plugin version of Cluecumber"
* https://github.com/jenkinsci/hello-world-plugin
* https://wiki.jenkins.io/display/JENKINS/Plugin+tutorial

[2019-03-05 12:03] laxersaz commented on #135
Fixed in 1.7.2

[2019-03-05 12:09] laxersaz commented on #135
@grasshopper7 this was just released. It should be available on Maven central soon.

[2019-03-05 19:44] grasshopper7 commented on #135
The total duration summary is adding up the times for hook execution. But the steps duration are also adding up the hook times.

Refer to screen of Scenario Details in 1.7.1
![ver1 7 1](https://user-images.githubusercontent.com/10829355/53832771-0bb7d580-3fad-11e9-8e79-aa0bae45b2ae.png)

Refer to screen of Scenario Details in 1.7.2
![ver1 7 2](https://user-images.githubusercontent.com/10829355/538

[2019-03-05 21:20] grasshopper7 opened #138 "Duration value in "Scenario Summary" page is not valid for parallel execution"
Using the report plugin with parallel execution. Have 2 runners and the following is the failsafe setting in POM.
[code]
Below is the project structure. FirstRunner executes the feature files in first colder and generates the json report. Similar for the other runner.

![proj](https://user-images.githubusercontent.com/10829355/53837951-e7aec100-3fb9-11e9-92aa-a6573b113935.png)

In the maven consol

[2019-03-06 09:46] laxersaz commented on #138
Cluecumber has no awareness of tests being executed in parallel or sequence. Also the generated json files by Cucumber do not reflect this but the complete scenario runtime. That's why the displayed time is technically correct.

[2019-03-06 09:50] laxersaz commented on #135
Ah I see. What you say is true because in Cucumber, the step hooks have their own time. I just wanted to make it visible that the step (including its hooks) took a specific time.
But yeah, technically the step itself took 0ms and only its hooks took time.
Thanks for mentioning this - I will change that for the next iteration.

[2019-03-06 15:46] VinnieM opened #139 "Report not generating while running from IDE (Intellij), but works when executed from Maven in the terminal"
Describe the bug
The report folder is not getting generated, when the code is being executed from the IDE (Intellij - Community Edition), but is getting generated when executed from the command prompt.

To Reproduce
Steps to reproduce the behavior:
I am attaching my POM.xml, please do let me know if anything else is required.

[code]

Expected behavior
Expecting the reports to be generated when th

[2019-03-06 15:48] laxersaz commented on #139
Cluecumber is a Maven plugin that is bound to the Maven lifecycle. If you execute your tests from the IDE, they are not run via Maven. So this is expected.

[2019-03-06 15:48] #139 closed

[2019-03-06 22:08] grasshopper7 commented on #138
It is technically correct but it is pretty difficult to explain the difference with the actual execution times to a report user. Maybe the json files need to be modified as in including actual start and finish times. How about a custom plugin which pulls this data for Cluecumber report?

[2019-03-07 11:02] laxersaz commented on #138
Sure this could be solved by a custom plugin and/or modifying the json data. However, this would be outside of Cluecumber's scope. The main goal of Cluecumber is compatibility to the Cucumber json format.
However, this is something that I will discuss with the Cucumber OSS group as well. Maybe it is possible to support this in their native JSON files.

[2019-03-07 11:03] laxersaz commented on #138
In the meantime you can also hide the total duration as described here:
https://github.com/trivago/cluecumber-report-plugin/blob/master/README.md#customcss

[2019-03-08 18:56] Srinivasaraor opened #140 "Page not Found issue"
**Describe the bug**
i am running over 6000 scenario as part of regression suite.
html pages were missing for some passed and failed  scenarios

**To Reproduce**
Steps to reproduce the behavior:
1. Go to clucumber report
2. Click on 'any passed or failed' scenario
3. page Not found error:
![image](https://user-images.githubusercontent.com/22300715/54048973-379faa80-41a9-11e9-83b1-3e41d2418f9d.png)

[2019-03-08 18:59] laxersaz commented on #140
This was fixed in https://github.com/trivago/cluecumber-report-plugin/issues/108

[2019-03-08 19:00] #140 closed

[2019-03-11 21:36] VinnieM opened #141 "Screenshots attached in the bottom of the report"
**Describe the bug**
When a screenshot (screenshot is taken in the After Scenario) is taken the screenshot is attached at the bottom of the report. Would it be possible to see the screenshot next to the step which failed?

Secondly To see the screenshot I need to click a button which says "_Show Before/After Hooks_" Can I have this changed to something like - _Show Screenshots_?

I am attaching th

[2019-03-12 08:39] laxersaz commented on #141
This is the expected behavior. If your test framework attaches screenshots in an after hook, this will naturally be displayed in the after hooks section of Cluecumber.
If you want your screenshot to be displayed in the step where it failed, your framework has to handle this differently.
By the way, you can configure Cluecumber to pre-open the hooks sections for you so you don't have to click this

[2019-03-12 08:39] #141 closed

[2019-03-12 08:42] laxersaz commented on #138
I started a thread in the Cucumber OSS group.

[2019-03-18 08:40] gazler22 opened #142 "Allowing locally shared files to be recognized as links"
We have some files and logs generated from our cucumber suite shared on a location on the company network to which I give a link to in the failure of each test case for easy access to logs regarding that particular scenario.

Right now, the RenderingUtils pattern only recognizes ftp/http/https patterns which is correct. But if possible I would also like to add "file" to this so that locally shared

[2019-03-18 09:50] laxersaz commented on #142
Hello! Yes that would be great!

[2019-03-20 10:08] laxersaz commented on #138
There is a PR in progress for Cucumber to add the start times to the JSON files. I am monitoring this one to see when it will be available.

[2019-03-20 11:28] grasshopper7 commented on #138
Great. Thanks for all the effort.

[2019-03-22 20:50] laxersaz commented on #142
Hello @gazler22 ,
sorry for the delay - this will be released on Monday.

[2019-03-22 20:50] laxersaz commented on #135
Hello @grasshopper7 ,
the fix will be released on Monday.

[2019-03-22 23:21] gazler22 commented on #142
Wonderful. Thank You!

[2019-03-24 09:33] gazler22 opened #145 "Showing step failure frequency"
I am thinking maybe we can have another statistic in the report where we can show the frequency of failed test steps.

This could be useful in quite a few cases, eg: if multiple test cases have the same Background/Step in them (for eg: connecting to server) and if most of them fail at that step during execution (because maybe the server was down), then the report showing something like :

**Steps

[2019-03-25 10:12] laxersaz commented on #142
Release done, should be on Central soon :-)

[2019-03-25 10:12] #142 closed

[2019-03-25 10:13] laxersaz commented on #135
Release done, should be on Central soon :-)

[2019-03-25 10:13] #135 closed

[2019-03-25 10:14] laxersaz commented on #145
I already started working on a step overview that is supposed to collect data about each step. :-)

[2019-03-25 10:24] gazler22 commented on #145
Oh thats good to know. I think this feature would be really useful :)

[2019-03-27 09:05] laxersaz commented on #145
Released in version 1.8.0

[2019-03-27 09:05] #145 closed

[2019-03-29 12:54] gazler22 opened #147 "Step Overview : Step Frequency"
Ok, so I took the new release and its wonderful! Thank You :)

I do have one request though about the step overview page. I am not sure if I should have reopened the previous one (#145 ), so please let me know and I ll update this.

The current page shows the **passed**, **failed** and **skipped** frequencies along with the steps.

But these are actually the **counts** of the step being used in sc

[2019-03-29 12:59] laxersaz commented on #147
Yes I get what you mean and I see the benefits of seeing the individual step results. This is more interesting than their connected scenario state. So I will change that for the next release.

[2019-03-29 13:08] gazler22 commented on #147
Thank you :)

Let me know if u want me to start/assist with this, it's the weekend after all :)

[2019-03-29 15:39] abhishek8908 opened #148 "Extend cluecumber report to provide capabilities info"
I have my features structure
**src/test/resource/features/admin-tool/loginPage.feature**
**src/test/resource/features/admin-tool/Users.feature**

where dir admin-tool is my **Capability/Application**

Is it possible to get the summary of the test cases passed failed for the **admin-tool**

Maybe a possible solution is to get some info from the report.json

**"uri":"file:src/test/resource/features/

[2019-03-31 15:21] laxersaz commented on #148
Hi @abhishek8908 ,
Do your features related to admin-tool have the feature name "admin-tool" as well? Because in the Cluecumber pages you can always filter by any string - this also filters the feature names.
Maybe I don't understand your case correctly...

[2019-03-31 20:15] abhishek8908 commented on #148
Thanks, maybe this request is more inspired by serenity-cucumber reports where the framework treats every directory where the feature files reside as kind of capability/component/of the application under test.

Which allows you to get an overview of your components tests.

![image](https://user-images.githubusercontent.com/22909519/55294391-feea9e00-5401-11e9-973e-2cc8b1d94267.png)

I not sure if

[2019-04-01 09:46] laxersaz commented on #148
Interesting approach for sure. I will keep this in mind for the next version of Cluecumber.

[2019-04-02 15:09] CoryWritesCode opened #149 "Add a section that groups scenarios by file"
I work with a mobile testing team that uses cucumber to test on multiple devices. Right now, we output the device results to individual json files with the device udids as the file name. Since there is not an easy way to add the device name/id to the `pom.xml` file as a variable, it would be helpful for a page that  groups all scenarios by the file where it was produced.

Going even further, it wo

[2019-04-03 14:33] laxersaz commented on #149
Related to #148

[2019-04-03 15:04] laxersaz commented on #147
This is fixed in 1.8.1

[2019-04-03 15:04] #147 closed

[2019-04-04 08:01] gazler22 commented on #147
@laxersaz  Thank you this was super helpful :)

[2019-04-08 07:36] rahulbommanaboina opened #151 "How to add multiple custom parameters in clue cumber report ?"
Hi Team,

As of now when i try to add multiple custom parameters, only the last parameter is appearing on the report start page.

Is there a way we can add multiple parameters ?

                         <Custom_Parameter>Test1</Custom_Parameter>
                        <Custom_Parameter>Test2</Custom_Parameter>

Only Test 2 is appearing

[2019-04-08 08:21] laxersaz commented on #151
Hi!
You are using this wrong because you use two parameters with the same name - in this case the first parameter is overwritten.

Please check the documentation on how to use it correctly:
https://github.com/trivago/cluecumber-report-plugin#customparameters

[2019-04-08 08:21] #151 closed

[2019-04-08 09:12] rahulbommanaboina commented on #151
Great !! Understood , Thank you !!

[2019-04-08 16:17] laxersaz opened #152 "Link step's minimum and maximum times to the respective scenario where it occured"

[2019-04-09 12:46] laxersaz commented on #148
Closing this since #149 is about this issue

[2019-04-10 07:40] laxersaz commented on #152
Included in coming release 1.9.0

[2019-04-10 07:40] #152 closed

[2019-04-10 13:41] laxersaz commented on #74
Ready for release in 1.9.0

[2019-04-10 13:41] #74 closed

[2019-04-10 13:45] laxersaz commented on #148
Reopened since this is about the sources of the __feature__ files and #149 is about the __json__ files

[2019-04-11 08:14] edno opened #154 "Incorrect scenario sequence"
**Describe the bug**
The **scenario sequence** is displaying incorrect order for execution timeline.
Example of execution sequence :
1. Search for book
2. Display book details
3. Search for book

But `cucumber.json` stored results in following order :
1. Display book details  (08:00:23)
2. Search for book (08:00:15)
3. Search for book (08:00:25)

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-04-11 08:19] laxersaz commented on #154
Hello @edno ,
Thanks a lot for your super good description of the issue. I will include that in the next release.

[2019-04-11 08:20] laxersaz opened #155 "Steps that are always skipped link to a non-existent scenario in the minimum and maximum time links"

[2019-04-11 08:25] edno commented on #154
I've tried to find when the sequence logic for rendering the template is located. But I did not find anything, I guess for now the JSON file is rendered without reordering steps.
If you can give me a pointer where to put a fix, then I'll be happy to give a try for fixing this issue.

[2019-04-11 08:27] laxersaz commented on #154
Which Cucumber version are you using? As far as I am informed `start_timestamp` was just introduced into the Cucumber JVM code but not released yet.

[2019-04-11 08:31] edno commented on #154
That's correct. I am running 4.3.0-SNAPSHOT (required for my project)

[2019-04-15 15:29] rancsik opened #157 "CustomParameters are sorted and do not support UTF-8 encoding"
**Describe the bug**
CustomParameters (tags) are displayed in natural order (in Alphabetical order) and do not support UTF-8 encoding. Not in Tag names and nor in value.

**To Reproduce**
Steps to reproduce the behaviour:
1. Apply CustomParameters in pom.xml
e.g.:

[code]
2. Genarete report with maven
3. Open genarated index.html file
4. Check the CustomParameters  part in top of the document
5. C

[2019-04-16 09:58] laxersaz commented on #157
I just verified parts of your bug.
The order is indeed wrong. However, the encoding is correct in my case:
![image](https://user-images.githubusercontent.com/5775857/56200339-e0f67d80-603e-11e9-9c1b-a23b1dec9c6a.png)

Do you have this set in your POM?
[code]

[2019-04-16 10:15] laxersaz commented on #157
Apparently, Maven itself orders those parameters before passing them to the plugin. So unfortunately there is no easy solution at this point.

[2019-04-16 10:39] laxersaz commented on #155
Ready for release.

[2019-04-16 10:39] #155 closed

[2019-04-16 10:39] laxersaz commented on #154
Ready for release.

[2019-04-16 10:39] #154 closed

[2019-04-16 10:39] laxersaz commented on #138
Ready for release.

[2019-04-16 10:39] #138 closed

[2019-04-16 11:25] rancsik commented on #157
Hi,
thank you for quick answer. Both parameters are set in my pom xml under properties tag, but anyway the tag names are displayed incorrectly. But in other part of my report, there are also some extra characters like öäüß and they are displayed correctly…
I am using apache-maven-3.6.1 under windows environment. I also tried to set -Dfile.encoding=UTF-8 but without any success.
In STD OUT logs I c

[2019-04-16 11:27] laxersaz commented on #157
Thanks for the additional information. Will look into it.

[2019-04-16 14:03] laxersaz opened #158 "Dates and times are displayed in UTC"

[2019-04-29 08:12] laxersaz commented on #158
ready for release.

[2019-04-29 08:30] rahulbommanaboina opened #159 "Unable to open video link / html link in clue cumber report - trivago"
I tried to embed sauce lab video link to the clue cumber report and i was successfully able to add the link but when i click on it nothing is happening. two issues: 1. nothing happening when clicked on link in IE browser and if i inspect the element and open the link in another tab , i was able to see the video playing in windows media player 2.not able to find pie charts and links in Chrome brows

[2019-04-29 09:29] laxersaz commented on #159
Hello, can you give me some more information about which version you are using? Also, an example JSON would help a lot.

[2019-04-29 09:50] rahulbommanaboina commented on #159
Hi Laxersaz,

	<dependency>
		    <groupId>com.trivago.rta</groupId>
		    <artifactId>cluecumber-report-plugin</artifactId>
		    <version>1.7.0</version>
		</dependency>

Cannot provide complete json , hope you understand :) here is the part for the video link am trying to attach in the cucumber.json report.

"embeddings": [
              {
                "data": "aHR0cHM6Ly9hc3NldHMuc2F1Y2VsYW

[2019-04-29 09:53] rahulbommanaboina commented on #159
<img width="868" alt="test" src="https://user-images.githubusercontent.com/29060552/56888903-c4bcfc80-6a92-11e9-8b20-8379e6b35821.PNG">

[2019-04-29 11:32] laxersaz commented on #159
I added content security policies to Cluecumber 1.10.1 which will be released today. I will let you know when it is available.

[2019-04-29 11:34] rahulbommanaboina commented on #159
Yeah great !! Thank you !!

[2019-04-29 12:30] laxersaz commented on #159
For your other issue, if you want to see a link, you need to attach the html code to create a link (`<a href='some_url' target='_blank'>your link text</a>`) and not only the link text itself.

Then it works (tested with current version 1.10.0)
![image](https://user-images.githubusercontent.com/5775857/56896169-545ead00-6a8b-11e9-93cf-b0ea0e830295.png)

[2019-04-29 12:53] #158 closed

[2019-04-29 15:17] laxersaz commented on #159
Release of v1.10.2 is done.

[2019-04-29 15:17] #159 closed

[2019-04-30 06:51] rahulbommanaboina commented on #159
Yeah thank you somuch , ill test this today and let you know , regarding
html code , can you please send any sample code it might help me :)

Regards,
Rahul B

On Mon, 29 Apr, 2019, 6:00 PM Benjamin Bischoff, <notifications@github.com>
wrote:

[2019-04-30 06:58] rahulbommanaboina commented on #159
Ok understood , giving _blank in target leads to open new tab , thank you ,
ill try with this.

Regards,
Rahul B

On Mon, 29 Apr, 2019, 6:00 PM Benjamin Bischoff, <notifications@github.com>
wrote:

[2019-04-30 10:40] laxersaz opened #161 "Add a section that visualizes parallel runs"

[2019-04-30 12:38] rahulbommanaboina commented on #159
<img width="842" alt="Bug" src="https://user-images.githubusercontent.com/29060552/56961727-20aa8280-6b72-11e9-8d48-69a44688fc87.PNG">

Hi I still see , graphs are not seen in chrome  73.0.3683.103

Also String videoLink = "<a href="+SauceVideoLink+" target='_blank' >Video</a>";
			scenario.embed(videoLink.getBytes(StandardCharsets.UTF_8), "text/html");

Dint work when i click on it.

[2019-04-30 12:55] laxersaz commented on #159
This is very interesting since this is the first time I saw this issue and it was never reported before. Do you have any other software running that might block access to parts of the report?

For the link - is it rendered correctly? Did you inspect the HTML code of the report?
Also please share a JSON file (you can just replace sinsitive information with "xxxx" so I can test it with your exact da

[2019-04-30 14:01] rahulbommanaboina commented on #159
Link issue - Attached screenshot
![bug2](https://user-images.githubusercontent.com/29060552/56967257-7be27200-6b7e-11e9-9db9-0f0e9e43021a.png)

JSON Below:

[
  {
    "comments": [
      {
        "line": 1,
        "value": "# language: en"
      }
    ],
    "line": 3,
    "elements": [
      {
        "before": [
          {
            "result": {
              "duration": 11009919892,

[2019-05-02 08:35] laxersaz commented on #159
I used your JSON with 1.10.2 and it all works - the pages are all rendered and displayed correctly.
Also, when I add a link as html, it is correct.
Do you have any more information about your system, where you run the reporting and anything else that might help debugging this?

[2019-05-02 13:05] mjordanBetBright opened #162 "Tests that are Skipped using Cucumber's PendingException are marked as Passed"
**Description**
Tests that are skipped are being marked as passed. Tested on v1.10.1

**To Reproduce**

1. Run a suite where some tests will be skipped (in my case using Pending Exception for a step)
2. Open cluecumber index.html when completed

**Expected behavior**
The tests that are marked as skipped (using maven failsafe plugin) should be marked as yellow

**Actual behavior**
The tests that ar

[2019-05-02 13:44] mjordanBetBright commented on #162
Update: just discovered the failScenariosOnPendingOrUndefinedSteps configuration. Marking this as true marks my pending tests as failed, but setting it to false still shows them as passed?

My pom is attatched
`<plugin>
	<groupId>com.trivago.rta</groupId>
	<artifactId>cluecumber-report-plugin</artifactId>
	<version>1.10.1</version>
	<executions>
		<execution>
			<id>report</id>
			<phase>post-inte

[2019-05-02 14:45] laxersaz commented on #162
This is expected. A scenario is considered skipped when all steps are skipped. Since you have passing steps before it is considered passed. This is according to the official Cucumber guidelines.

[2019-05-02 16:57] mjordanBetBright commented on #162
hmmm, seems like an odd guideline. But I'll take it into account when placing my PendingExceptions. Thanks for the reply, will close

[2019-05-02 16:57] #162 closed

[2019-05-10 23:45] DeChrish commented on #161
@laxersaz  - Pl average the duration time; Currently we are running the test in parallel- Jenkins Job duration and Cucumber Report test duration is different.

Cucumber report test duration adds each parallel time and consolidates. For ex if i have 10 scenario which takes 2 mins to complete then Jenkins Jobs completed in ~2 mins/ But the Cucumber report says ~20mins

[2019-05-13 07:23] laxersaz commented on #161
This was already tackled. If you use Cucumber JVM 4.3.0 or higher, this is supported since it introduced start timestamps. In other cases, it is not possible to determine which tests ran in parallel from the generated JSON. Just use version 1.10.2.

[2019-05-13 20:45] DeChrish commented on #161
@laxersaz   I have attached 2 screen shot.

1. Cluecumebr report  -=  448m
2. Jenkins Report  -= 13m

<img width="1346" alt="Screen Shot 2019-05-13 at 1 43 32 PM" src="https://user-images.githubusercontent.com/6211294/57652805-39a92f80-7585-11e9-866d-967683e22827.png">
<img width="1559" alt="Screen Shot 2019-05-13 at 1 44 11 PM" src="https://user-images.githubusercontent.com/6211294/57652815-42016

[2019-05-13 20:50] DeChrish commented on #161
@laxersaz similar to #138. pl close this ticket

[2019-05-14 08:18] laxersaz commented on #161
Hi @DeChrish ,
no this is not similar.
- #138 was about the time on the summary page
- #161 is about a dedicated section to visualize parallel runs (comparable to Cucumber's parallel report)

[2019-05-15 10:57] rahulbommanaboina commented on #159
Hi @Laxersaz , today i observed that , reports are being populated correctly in chrome when i run the code locally  , but when we run through jenkins , reports are not being populated correctly in chrome and not able to see the video.

[2019-05-15 11:07] laxersaz commented on #159
Could this just be related to https://github.com/trivago/cluecumber-report-plugin/issues/98 ?
This is the Jenkins content policy.

[2019-05-16 06:14] rahulbommanaboina commented on #159
May be but , we have set the system property to allow all policies as shown in the link shared by you. still showing same.

[2019-05-28 16:31] mj-moor opened #164 "Not able to distinguish bewteen runner names in report"
**Describe the bug**
Hi laxersaz,

I have multiple runners that are executed in the cloud. I.e. 4 iPads en 3 iPhones. All these runners execute the same tests in parallel. After my tests have been completed I get the Cluecumber report showing the results of all my runners. However I don't seem to be able to distinguish based on the runner name name in my report. In other words I do not know which

[2019-05-28 21:57] DeChrish commented on #136
@laxersaz how to save the report for each build in Jenkins.  Currently the report is stored in job level which displays the latest. Reports for each build is not available.

Any specific configuration to save the report for build level, till we get the Jenkins Plugin for Cluecumber report?

[2019-05-29 09:07] laxersaz opened #165 "Improve mobile display of the generated reports"

[2019-05-29 09:12] laxersaz commented on #164
Are your runners creating separate json files? Because in the next release, Cluecumber is supposed to have a new view to group scenarios by file (#149). Until then, maybe it would make sense to either
- generate separate reports for each device
- add the device name to the scenario name
- add the device name as a scenario text attachment
- add a tag for each device

[2019-05-29 09:40] laxersaz commented on #136
Please check the Jenkins documentation as this question is unrelated to Cluecumber.

[2019-05-29 12:05] nived001 commented on #130
When I run cucumber tests then it will generate json file and after that, I should trigger the command manually to generate the report.

How could I automate this process?

[2019-05-29 13:49] mjm987mj commented on #164
Thanks for the response. Yes my runners are creating seperate json files. Nice to hear that within the next release we can group them by file. That would be really helpful. Also thanks for the additional tips.

Do you have an ETA on the next release?

Thanks in advance

[2019-05-29 13:52] laxersaz commented on #130
Your question does not really fit into this issue.

It highly depends on your setup and how you run the test. In general, it shouldn't be necessary to run the reports manually.

[2019-05-29 14:03] nived001 commented on #130
I agree, mvn -e clean install is my goal, then it will run all the tests and generates json, Then again I should trigger the command to generate this report,

Could you tell me how to configure for automate the process?

[2019-05-29 19:06] DeChrish commented on #136
@laxersaz fixed, jenkins plugin has option to restore the reports for build level.

[2019-05-30 19:10] gazler22 opened #166 "Allowing Custom Parameters from file"
It would be nice to have the ability to load customParameters from a file as well into the report.

This allows for dynamically changing the custom parameters in the file (instead of having to update the pom) in multiple cases, for eg: when the Cucumber suite is being triggered from different builds, each having different data to show in the report.

[2019-05-31 18:06] laxersaz commented on #166
This PR will be included in the next release. However, please note that dynamically setting custom parameter values is already possible without any pom modifications 😊

[2019-05-31 19:10] gazler22 commented on #166
Ah, could you tell me how?

And do we need this PR then?

[2019-05-31 19:48] laxersaz commented on #166
https://github.com/trivago/cluecumber-report-plugin#passing-custom-parameters-via-command-line

[2019-06-01 00:39] gazler22 commented on #166
Ah, I think I missed this. But thank you :)

[2019-06-01 07:32] laxersaz commented on #166
I will take a closer look at the PR on Monday and give feedback 😊

[2019-06-01 07:47] laxersaz commented on #130
Sorry, like I said, this is out of scope here.

[2019-06-01 07:50] laxersaz commented on #164
I cannot give you an ETA yet. I started working on a big next release that changes the architecture of Cluecumber so features like this can be implemented much easier and quicker.

[2019-06-03 11:57] laxersaz commented on #166
The more I think about this, the more doubts I am starting to have.
Reading properties from a file is already possible, e.g. with the http://www.mojohaus.org/properties-maven-plugin/ so this might be covered already.

[2019-06-03 12:22] gazler22 commented on #166
Yes, since we can already provide the property values to `customParameters` tag, i dont think this PR would be much useful for that.

I do think it can be useful in cases where you also want to provide the **Key** dynamically or have completely different properties to provide from different builds.

For eg:

**Build 1:**
[code]

**Build 2:**
[code]

Here, if we have different builds which have dif

[2019-06-03 13:06] laxersaz commented on #166
That's a good point. I will research if this is also possible via the Maven out-of-the-box solution.

[2019-06-03 13:12] gazler22 commented on #166
Sure :)

[2019-06-05 13:02] laxersaz opened #168 "Steps containing Cucumber expressions are displayed correctly"

[2019-06-11 16:11] laxersaz commented on #157
I found a way to keep the passed parameters sorted. This will be available in Cluecumber 2.0.0 which is in development. However, the encoding issue is still under investigation

![image](https://user-images.githubusercontent.com/5775857/59288482-2c5e8e00-8c74-11e9-87de-d47655ac6a58.png)

[2019-06-12 16:14] laxersaz commented on #157
Added more encoding options so hopefully this should be fixed in 2.0.0

[2019-06-12 16:15] #157 closed

[2019-06-14 11:14] #168 closed

[2019-06-14 11:14] #166 closed

[2019-06-14 16:35] mtorres10 opened #171 "Version 2.0.0 fails when executed via cli with File '' could not be found"
**Describe the bug**
When executing via cli, an error is thrown about a missing file

**To Reproduce**
1. Copy pom from example, update to match a different folder structure
2. Launch via cli like: mvn -f spec/cucumber/support/pom.xml cluecumber-report:reporting

**Expected behavior**
Cluecumber report should be generated correctly, same configuration worked with v1.11.0

**Actual behavior**
Clucu

[2019-06-14 17:52] laxersaz commented on #171
Thanks for reporting! Will look into it.

[2019-06-15 17:38] grasshopper7 opened #172 "Customizing color of pie charts"
Can the framework support the overriding of default colors of the pie-charts etc? Can take inputs in terms of color names, rgb or hex. This option could be added to the existing custom.css.

[2019-06-15 21:24] laxersaz commented on #171
Fixed in 2.0.1 - will release now.

[2019-06-15 21:24] #171 closed

[2019-06-15 21:42] laxersaz commented on #172
This is not possible at the moment. I will add this as a feature in the next release.

[2019-06-16 10:10] grasshopper7 commented on #172
Can the title of the report also be made customizable?

[2019-06-16 10:35] laxersaz commented on #172
Keep the ideas coming - I like this!

[2019-06-16 12:33] grasshopper7 commented on #172
Currently one can configure the output directory using `generatedHtmlReportDirectory`.  Is it possible to add a  valid date time  pattern to this?  For example
`<generatedHtmlReportDirectory>${project.build.directory}/yyyy MM dd report </generatedHtmlReportDirectory>`
will create a report folder like `2019 06 16 report`.

Easier identification of old reports. Saves effort.

[2019-06-16 12:51] grasshopper7 commented on #172
Can the datetime formats for the times inside the report made configurable?

[2019-06-16 17:55] grasshopper7 commented on #172
Not sure if this is an issue. In both the cases when 'All Scenarios' and 'Scenario Sequence' are selected always 'Scenario Summary' is highlighted.  Seems a bit confusing.

index.html -> All Scenarios
![index-header](https://user-images.githubusercontent.com/10829355/59567645-bf8d2e80-908d-11e9-83d6-6d33ae90c737.png)

scenario-sequence.html -> Scenario Sequence
![sequence-header](https://user-imag

[2019-06-16 18:33] grasshopper7 commented on #172
In 'All Scenarios' page (index.html), is it possible to have a collapse\expand option for the status sections (failed, skipped, passed). Saves effort of scrolling if there are multiple failures or skips to get to other sections below them.

[2019-06-17 07:19] laxersaz opened #174 "Is it possible to add a valid date time pattern to the generated output dir?"
Currently one can configure the output directory using `generatedHtmlReportDirectory`.  Is it possible to add a  valid date time  pattern to this?  For example
`<generatedHtmlReportDirectory>${project.build.directory}/yyyy MM dd report </generatedHtmlReportDirectory>`
will create a report folder like `2019 06 16 report`.

Easier identification of old reports. Saves effort.

_Originally posted by @

[2019-06-17 07:20] bischoffdev opened #175 "In 'All Scenarios' page (index.html), is it possible to have a collapse\expand option for the status sections?"
In 'All Scenarios' page (index.html), is it possible to have a collapse\expand option for the status sections (failed, skipped, passed). Saves effort of scrolling if there are multiple failures or skips to get to other sections below them.

_Originally posted by @grasshopper7 in https://github.com/trivago/cluecumber-report-plugin/issues/172#issuecomment-502475281_

[2019-06-17 07:21] laxersaz opened #176 "Can the title of the report be made customizable?"
Can the title of the report also be made customizable?

_Originally posted by @grasshopper7 in https://github.com/trivago/cluecumber-report-plugin/issues/172#issuecomment-502438719_

[2019-06-17 07:22] laxersaz opened #177 "When 'All Scenarios' and 'Scenario Sequence' are selected always 'Scenario Summary' is highlighted"
Not sure if this is an issue. In both the cases when 'All Scenarios' and 'Scenario Sequence' are selected always 'Scenario Summary' is highlighted.  Seems a bit confusing.

index.html -> All Scenarios
![index-header](https://user-images.githubusercontent.com/10829355/59567645-bf8d2e80-908d-11e9-83d6-6d33ae90c737.png)

scenario-sequence.html -> Scenario Sequence
![sequence-header](https://user-imag

[2019-06-17 07:23] laxersaz commented on #172
I created separate issues for this. Please also do this in the future for new ideas :-)

[2019-06-17 07:24] bischoffdev opened #178 "Can the datetime formats for the times inside the report made configurable?"
Can the datetime formats for the times inside the report made configurable?

_Originally posted by @grasshopper7 in https://github.com/trivago/cluecumber-report-plugin/issues/172#issuecomment-502449355_

[2019-06-17 10:37] grasshopper7 commented on #172
Will do. Thanks.

[2019-06-17 16:21] grasshopper7 opened #179 "Clickable bars in bar chart for features, tags, steps summary"
Can the bars in features, tags, steps summary pages be made clickable so the link opens to the details page directly.
So it goes from pages/tag-summary.html to pages/tag-scenarios/tag_TagOver.html when the TagOver bar is clicked.
Saves the time for scrolling and searching for the desired tag, feature or step in the section below.

[2019-06-17 17:19] grasshopper7 opened #180 "Expandable area for 'Steps' bar chart"
Can the area of the 'Steps' bar chart increased or made expandable. The number of steps in the project can be quite large and the bar chart will get cluttered pretty quick.
I simulated the case for the 'Tags' chart (well it was easier to do). There are 29 tag entries and it is crowded.
![step-crowd](https://user-images.githubusercontent.com/10829355/59623344-8e763200-9151-11e9-9b8d-18abd1e53cad.pn

[2019-06-17 21:31] nithingg opened #181 "Screenshots not attached to the cluecumber html report on cucumber jvm parallel execution"
**Describe the bug**
I am using cucumber jvm 43.1, and executing the tests in parallel using the out of the box parallel support. I am using cluecumber to generate the test report after execution. However, the screenshots are not getting attached in the report. In the generated by default cucumber report, screenshots are attached.

I am executing via mvn clean verify.

POM.XML - Plugins

![POM-Plu

[2019-06-18 14:04] laxersaz commented on #181
Are you automatically opening the after hooks in the report using the `<expandBeforeAfterHooks>true|false</expandBeforeAfterHooks>` property? Because if you don't, the hooks are closed and you need to press the
![image](https://user-images.githubusercontent.com/5775857/59691075-c1b4d180-91e2-11e9-80c4-1a57fb81de81.png) button.

[2019-06-18 14:08] laxersaz commented on #175
If you click on the diagram headers, the according status sections are shown/hidden. Does this qualify as a solution?

![image](https://user-images.githubusercontent.com/5775857/59691436-4dc6f900-91e3-11e9-9fdb-175909de602c.png)

[2019-06-18 16:47] grasshopper7 commented on #175
Nice... That works for me. Only thing is that it is not intuitive. I clicked on the section headers and the portions of the pie chart but did not try the legend. Someway to indicate this functionality would be great.

In the 'Scenario Sequence' page I was expecting that when I click to hide the 'Passed' scenario in the pie chart it will also remove the 'Passed' scenario lines in the sequence table

[2019-06-18 21:12] nithingg commented on #181
@laxersaz Thanks for the quick reply. I missed the before after hooks button and configuration.
Again thanks for the support.

[2019-06-18 21:12] #181 closed

[2019-06-20 10:24] laxersaz commented on #175
I understand that it is not too consistent. I will keep this open and keep it in mind for the furtherdevelopment.

[2019-06-23 19:27] laxersaz commented on #180
I increased the chart areas for tag, step and feature summary pages for version 2.1.0 (work in progress)

[2019-06-23 19:28] laxersaz commented on #176
Do you mean the title of the page that appears in the browser tab?

[2019-06-23 19:31] laxersaz commented on #174
You can just use native maven properties for this, e.g.
[code]

[2019-06-23 19:31] #174 closed

[2019-06-24 00:36] raamojirao opened #182 "Change "skipped" name"
This is a great reporting tool.Thanks for that. In the reports that are generated I would like to change the word "skipped" to something else eg: "Skipped" scenarios to "Rerun" scenarios. How could I do this. Please suggest

[2019-06-24 05:28] grasshopper7 commented on #176
Yes - "Cluecumber Report"

[2019-06-24 07:23] laxersaz commented on #182
Since the skipped status is calculated based on the real cucumber status, it would not make sense to call it anything else. The premise of Cluecumber is that it works with the standard Cucumber json format.
Maybe I mistunderstand why you want to change this wording...

[2019-06-24 07:24] #180 closed

[2019-06-24 07:41] #165 closed

[2019-06-24 11:32] grasshopper7 opened #183 "Add custom text to report"
Can an option be created to add custom text to a report? Similar to adding custom properties option. Maybe this could be added to the same area where the properties are displayed.

Allows one to mention any remarks or details about the test run.

[2019-06-24 14:19] laxersaz commented on #176
Done in version 2.1.0 - work in progress.

[2019-06-24 14:19] #176 closed

[2019-06-24 14:20] laxersaz commented on #172
Done in version 2.1.0 - work in progress.

[2019-06-24 14:20] #172 closed

[2019-06-24 14:43] laxersaz commented on #183
What would be the difference between adding a custom property with a long value and adding a custom text?

[2019-06-24 15:17] grasshopper7 commented on #183
Custom property needs me to add a key. This would give an option of adding mutli-line text without the requirement of a key in configuration or the key displayed in the report.

[2019-06-24 16:03] laxersaz commented on #183
Done in 2.1.0 - work in progress:

![image](https://user-images.githubusercontent.com/5775857/60034191-55d2dd00-96aa-11e9-97a4-14146713b92d.png)

[2019-06-24 16:03] #183 closed

[2019-06-24 16:47] grasshopper7 commented on #183
Waoh! that was quick

[2019-06-25 14:23] laxersaz commented on #177
Done in version 2.1.0 - completely redone the navigation

[2019-06-25 14:23] #177 closed

[2019-06-27 06:35] jayanthktn opened #185 "Need help on html report generation"
I really need help in generating html report, i did pom configurations and run.test file but i am not able to see the reports in the corresponding target folders. please help me with this. Attached the screenshot of them. please help me
![image](https://user-images.githubusercontent.com/27004220/60242639-bc870f00-98d3-11e9-9682-e9be8d1a21e7.png)
![image](https://user-images.githubusercontent.com/2

[2019-06-27 07:58] laxersaz commented on #185
Don't use the `html` plugin in your Cucumber runner - this is a completely different reporting. Cluecumber is a Maven plugin that is independent of the runner.
How do you run your tests?

Please also try the Cluecumber example project first to get an understanding of how to use it.

[2019-06-27 08:17] jayanthktn commented on #185
I ll try and let you know. Thanks for the response. And I am running
directly the run class.

Thanks
Jayanth

வியா, 27 ஜூ, 2019, 1:28 PMக்கு, Benjamin Bischoff <notifications@github.com>
எழுதியது:

[2019-06-27 08:56] jayanthktn commented on #185
@laxersaz I tried but not generated.
![image](https://user-images.githubusercontent.com/27004220/60252284-99665a80-98e7-11e9-9768-318a37da9a05.png)

[2019-06-27 09:05] laxersaz commented on #185
Like I said, it has to be run via Maven. If you only run your run class, this is not using Maven...

[2019-06-27 17:35] mtorres10 commented on #171
Just noticed the fix, thanks for addressing this so promptly. It works now.

[2019-06-28 06:56] jayanthktn commented on #185
Sorry to ask this again, please provide me your executable sample project so that i can refer. @laxersaz

[2019-06-28 07:27] jayanthktn commented on #185
Steps i have done :
1] Created maven project,
2] Added above pom dependencies,
3] Created simple testcases with runner class.
4] Executing with "mvn test".
If i miss anything, let me know and also kindly share any sample project i can clone and run in my local. @laxersaz

Thanks for your time.

[2019-06-28 07:59] grasshopper7 commented on #185
@jayanthktn You need to run using "mvn verify". You should check this [page](https://github.com/trivago/cluecumber-report-plugin/tree/master/example-project). Also the "Run" runner will not be picked up automatically by Surefire unless u rename it to "RunTest" or include it explicitly. Refer to [this](https://maven.apache.org/surefire/maven-surefire-plugin/examples/inclusion-exclusion.html).

[2019-06-28 09:42] laxersaz commented on #185
Thanks @grasshopper7

[2019-06-28 21:02] josepj commented on #168
@laxersaz, I see that the under **All Steps**, the steps are displayed as:
[code]
and not:
[code]
The steps appear correctly in the scenario details page.

[2019-06-29 03:23] josepj opened #186 "Option to show/hide hooks for each step independent of other steps"
In my tests I use scenario.write() to write custom messages to the report, which I have found useful when debugging failed tests. When debugging a failed test with a large number of steps, it would be nice to be able to Show/Hide individual step hooks as I am scrolling down the list of steps (I have `expandStepHooks` set to false due to the large number of steps).

In case the description is not c

[2019-06-30 13:08] laxersaz commented on #168
Hi! This is expected behavior for steps with placeholders because seeing the concrete steps including their values would be pretty pointless since each one would most likely only have one match.

[2019-07-01 12:49] laxersaz commented on #185
@jayanthktn is it clear now?

[2019-07-01 13:21] laxersaz commented on #186
Hi @josepj
Thanks for this suggestion.
I will see if I can integrate something like this for the future releases.

[2019-07-01 13:21] laxersaz commented on #186
Hi @josepj
Thanks for this suggestion.
I will see if I can integrate something like this for the future releases.

[2019-07-01 15:28] josepj commented on #168
Thanks @laxersaz. I think I misunderstood what was being displayed under that tab.

[2019-07-02 10:00] jayanthktn commented on #185
@laxersaz I didn't get what you are saying. sorry. still, I am not able to use your pleasant report.

[2019-07-02 10:32] laxersaz commented on #185
Hi! This is a known bug that was fixed with version 2.0.1
So if you update the Cluecumber version to this one it should work.

[2019-07-02 10:37] laxersaz commented on #179
I will try this for the next release. It might be very tricky with the current chart library...

[2019-07-02 10:38] #182 closed

[2019-07-02 10:42] jayanthktn commented on #185
@laxersaz Thanks bro, version 2.0.1 working fine.

[2019-07-02 10:42] #185 closed

[2019-07-03 09:28] grasshopper7 opened #187 "Support report in pdf format"
Is it possible to look at the option of generating the report in pdf format? Maybe the pie and bar charts. Mention just the failed and skipped scenarios if they exist.

[2019-07-03 09:29] laxersaz commented on #187
I started looking into this :-)
Let's see if this is doable.

[2019-07-03 13:16] grasshopper7 commented on #187
Not sure if this is a sound suggestion without understanding the code. But here goes. You have a pretty solid parsing logic for the json. And a great html report. How about

[2019-07-03 13:57] laxersaz commented on #187
Woah! This is a big suggestion :-)

[2019-07-05 05:16] Naumansh opened #188 "Turn Off Report Logs"
I wonder if we can stop generation of below logs from report in console:
- source JSON report directory     : /Users/nauman.shahid/Nauman-data/Dev_Home/sbir.automation/target/cucumber-report
[INFO] - generated HTML report directory  : /Users/nauman.shahid/Nauman-data/Dev_Home/sbir.automation/target/Automation-Report
[INFO] ------------------------------------------------------------------------
[I

[2019-07-05 07:27] laxersaz commented on #188
There is no built-in way to do this. Is there any special reason you want to do this?
If yes, I could add this to the list of future features :-)

[2019-07-05 15:22] Naumansh commented on #188
Thanks man for taking out time to respond.

Yeah it appears to be pretty irrelevant information as it is about parameters of report which are already reflected in report and target folders which are mentioned at own in pom.xml. so it appears to make the project related console logs coming from the framework over weight.

Also, does the plugin allows to add screenshots to the test ? Or any logs to

[2019-07-06 14:12] laxersaz commented on #188
The screenshots or logs have to be added in your test framework. Cluecumber displays every attachment inside the json files. Do you have an example json file that shows a screenshot in cucumber report but not in Cluecumber? Maybe it is a format that is not supported in Cluecumber yet.

[2019-07-06 14:21] Naumansh commented on #188
The embedded screenshot format is standard image/png. It is also displayed in cucumber html report.
Below is the Json:

[
  {
    "line": 4,
    "elements": [
      {
        "start_timestamp": "2019-07-05T16:18:21.632Z",
        "before": [
          {
            "result": {
              "duration": 3814997200,
              "status": "passed"
            },
            "match": {

[2019-07-06 19:39] laxersaz commented on #188
Your screenshots are attached in an after hook.

Are you automatically opening the after hooks in the report using the `<expandBeforeAfterHooks>true|false</expandBeforeAfterHooks>` property? Because if you don't, the hooks are closed and you need to press the
![image](https://user-images.githubusercontent.com/5775857/59691075-c1b4d180-91e2-11e9-80c4-1a57fb81de81.png)
button.

[2019-07-08 13:57] Naumansh commented on #188
Great. Problem solved. Thanks a lot man !!!!

[2019-07-08 13:57] #188 closed

[2019-07-08 14:04] laxersaz opened #189 "Make plugin logging configurable"
(Created from #188)

[2019-07-08 14:04] laxersaz commented on #188
For your other request, I created a new feature request: #189

[2019-07-08 14:55] Naumansh commented on #189
Great... looking forward to get it asap . !!!!

[2019-07-08 16:39] niamhmccann opened #190 "Screenshots are not being embedded to my cluecumber report"
Screenshots are not being added to the report - I have added configurations I could see online but I am not seeing the button to show/hide the before/after hooks.

![image](https://user-images.githubusercontent.com/17048530/60826881-cef02b00-a1a6-11e9-9df2-2a9b0f5dfc9f.png)

[2019-07-09 07:19] laxersaz commented on #190
Hello! Without an example json file, I cannot see where your screenshot should be embedded. Are you sure screenshots are being taken correctly and attached to the scenario by your test framework?

[2019-07-10 13:11] jzaratei commented on #190
hi! maybe the screemshot is embedded in your hooks. In that case click on Show scenario hooks.

![image](https://user-images.githubusercontent.com/47472889/60971574-c58ccd00-a324-11e9-9c7c-738b7a325851.png)

[2019-07-10 13:33] laxersaz commented on #190
If you want to keep the before and after hooks always open, just add this configuration parameter:

[code]

[2019-07-11 01:50] josepj commented on #187
Referring to this [comment](https://github.com/trivago/cluecumber-report-plugin/issues/175#issuecomment-503152036) in #175, you can use the `Show` option in the report to show all the failures (upto 100) in a single page, and then easily save the report as a pdf file directly from the browser. Or am I missing something here?

[2019-07-11 07:26] laxersaz commented on #187
Well what I would like to ultimately have is a PDF report with internal links. But let's see if that's feasible.

[2019-07-11 08:00] grasshopper7 commented on #187
When the 'passed' scenarios are toggled to OFF, the 'passed' scenarios also disappear from the pie chart. So it does not portray the total run results. Then it requires a longer workaround to include the complete details.
There other minor things like search, sorting, entries functionalities etc which are redundant in pdf format.

[2019-07-11 18:48] josepj commented on #187
@laxersaz, that will be fantastic if it is feasible!
Actually, I did have a similar requirement and was here to request a feature, when I saw @grasshopper7's request. 😃  I was asked to email the test report recently and could not find a way to do it other than zipping and attaching the report folder. I tried saving the report as a `.mht` file and tried the [SingleFile](https://chrome.google.com/we

[2019-07-16 11:41] laxersaz commented on #190
@niamhmccann , did this solve your problem?

[2019-07-17 09:50] laxersaz commented on #179
This is much harder than I thought. This needs further research.

[2019-07-17 12:37] Naumansh opened #192 "Overcounting of step usage in All Steps"
Under the "All Steps" tab of the report the "Step Summary Result Chart" y-axis is marked as "Number of Scenarios". This would imply that it is showing how many scenarios a step is used in. However, if a step is used multiple times in a scenario it is counted multiple times, leading to unexpectedly skewed data.

Possible Solutions:
Each step should be counted once for each scenario
The y-axis shoul

[2019-07-17 12:37] Naumansh opened #193 "Scenario RunTime in Seconds instead of MS"
When viewing a scenario in the report the "Step Result" graph displays the step runtime in milliseconds.

It would be more helpful, in my opinion, if it was reported in seconds, and the y-axis label were updated to "Step Runtime (seconds)".

[2019-07-17 13:24] laxersaz commented on #192
I renamed the y axis to number of usages since a step could potentially be included multiple times in a scenario with different results.

[2019-07-17 13:24] laxersaz commented on #192
Will be included in 2.2.0

[2019-07-17 13:44] Naumansh commented on #192
@laxersaz Thanks man !! Tentative time frame for 2.2.0 ?

[2019-07-17 13:44] laxersaz commented on #192
Releasing now :-)

[2019-07-17 13:45] Naumansh commented on #192
hahah...great thanks buddy !!

[2019-07-17 13:49] #193 closed

[2019-07-17 13:49] #192 closed

[2019-07-17 13:49] #189 closed

[2019-07-17 14:08] laxersaz opened #195 "Support named attachments"
https://github.com/cucumber/cucumber-jvm/issues/1692

[2019-07-17 14:22] Naumansh commented on #189
@laxersaz is it completely off need to pass some parameter in plugin ?

[2019-07-17 14:24] Naumansh commented on #189
got it from readme

[2019-07-25 14:50] RomaSha2009 opened #196 "Could not find a suitable constructor in CluecumberReportPlugin"
Hi!
I receive an error after test run with cluecumber-report-plugin
I'm limited with Maven 3.0.4
I have tried to use old versions down to 0.1.1 and the issue was still present.

Here is a stack trace

[code]

Here is my pom setup

[code]

Can anyone help me? What I'm doing wrong? In addition - I can't update Maven. Only 3.0.4

[2019-07-26 04:54] laxersaz commented on #196
Your Maven version is too low (needs 3.3.9 at least). In the documentation this is also mentioned:
https://github.com/trivago/cluecumber-report-plugin#building
So if you cannot update Maven you either cannot use Cucumber or you run everything (or just a small Maven project with just Cluecumber in it) in a docker container that includes a higher Maven version.

[2019-07-26 04:57] laxersaz commented on #196
A little background - Cluecumber uses Guice for dependency injection which is not present in older Maven versions.

[2019-07-26 07:57] RomaSha2009 commented on #196
I see. Thank you for your help!

[2019-07-26 07:57] #196 closed

[2019-07-26 15:32] Srinivasaraor opened #197 "Skipped steps count shown as zero"
**Describe the bug**
Skipped Steps count shown as zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Run scenarios in parallel
2.Due to previous step failure remaining steps in scenario are skipped
3. Go to report to check count of skipped steps
4. Expected: the count of passed, failed and skipped steps should be displayed on step summary page
Actual: "All scenario" counts are shown in st

[2019-07-26 16:04] Srinivasaraor opened #198 "Discrepancy in display of total run time in reports"
**Describe the bug**
Discrepancy in display of total run time in reports
**To Reproduce**
Steps to reproduce the behavior:
1. Run a Small Test suite to verify the total run time
2. after execution note the total time from the execution log
3. go to clucumber report and note the total time for execution and compare with the above step.
4. See below screenshot
**Actual behaviour**
total runtime disp

[2019-07-27 11:22] laxersaz commented on #198
If you use a newer Cucumber jvm, this will display the parallel runtime since its generated json contains timestamps for each scenario. In older versions, there is no information about when a scenario actually ran - that's why you get the total time instead.

[2019-07-29 15:36] Srinivasaraor commented on #198
Thanks for the input.
I have updated the Cucumber-Jvm to latest version, now i could able to see the parallel run time on clucumber reports.
![image](https://user-images.githubusercontent.com/22300715/62061366-06c21f80-b1f5-11e9-9eeb-c6298dbc019c.png)

[2019-07-29 15:38] Srinivasaraor commented on #198
Thank you Very much Benjamin Bischoff!

Closing the issue

[2019-07-29 17:15] Srinivasaraor commented on #198
i am still seeing little difference in test run time - Please find the screens below

![image](https://user-images.githubusercontent.com/22300715/62067839-a934cf80-b202-11e9-9bb4-7109cf6f6795.png)

![image](https://user-images.githubusercontent.com/22300715/62067937-f022c500-b202-11e9-982d-3c5de7b099a1.png)

[2019-07-30 06:18] laxersaz commented on #198
Well the report looks only at the tests that were run and not the total build time (which is shown in your screenshot of the console output). Depending on what is being done during the build this naturally takes longer than the test runs.
If you look at the start and end time in the report, it is correct.

[2019-07-31 20:19] Srinivasaraor commented on #198
Thanks for details explanation.

[2019-07-31 20:19] #198 closed

[2019-09-06 13:44] jonmbake opened #199 "Remove unnecessary eval JavaScript call"
**Describe the bug**
The generated report contains JavaScript code that invokes [eval()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval): https://github.com/trivago/cluecumber-report-plugin/blob/2.2.0/plugin-code/src/main/resources/template/snippets/js.ftl#L53. `eval` is considered a security risk and the way it is being used is unnecessary.

**To Reproduce**

[2019-09-06 14:02] laxersaz commented on #199
Thanks for taking the time to report this. I will fix this in the next release.

[2019-09-10 12:35] laxersaz commented on #190
Closed due to no reaction.

[2019-09-10 12:35] #190 closed

[2019-09-10 12:43] laxersaz commented on #197
The counts on the right side refer to the 63 scenarios not the steps. So this is actually correct. Since no __scenario__ is skipped the __0__ is legitimate.

[2019-09-10 12:43] #197 closed

[2019-09-10 14:41] jzaratei opened #200 "Parallel Testing - Not able to get the report because of java.lang.ArrayIndexOutOfBoundsException (Maven)"
When i run my tests on parallel, maven it's not able to generate the reports because of this error:
java.lang.ArrayIndexOutOfBoundsException
Unfortunately, the maven console doesn't give more information or any stracktrace about the error.

So, this happens just after my test are executed and only in parallel. When i run just a single test, there's no problem in generating the report.

Any glue ab

[2019-09-10 15:08] laxersaz commented on #200
Unfortunately this is not enough information to help.
Can you please run your Maven commands with the `-X` switch? This will print the whole stack trace.

[2019-09-11 08:06] jzaratei commented on #200
@laxersaz, Thanks man, your tip point me on the right direcction.
So, it seems that maven-failsafe plugin was generating a corrupted STDOUT  stream due to appium log "debug" level in forked JVM.

Setting the appium log level to "error" solve the problem.

For further reference, this is what Maven Failsafe says about this in their FAQ:
https://maven.apache.org/surefire/maven-failsafe-plugin/faq.htm

[2019-09-11 08:06] #200 closed

[2019-09-11 08:07] laxersaz commented on #200
Awesome @jzaratei , thanks for the reference link!

[2019-09-18 15:31] mstas1993 opened #201 "MissingFileException: File '' could not be found while mvn cluecumber-report:reporting run"
**Describe the bug**
Caused by: com.trivago.cluecumber.exceptions.filesystem.MissingFileException: File '' could not be found while mvn cluecumber-report:reporting run
**To Reproduce**
Steps to reproduce the behavior:
1. Add based plugin to pom <plugin>
                <groupId>com.trivago.rta</groupId>
                <artifactId>cluecumber-report-plugin</artifactId>
                <version>2.0.

[2019-09-18 15:34] mstas1993 commented on #201
I can be wrong with my settings and I will be grateful for the help.

[2019-09-18 15:44] laxersaz commented on #201
Hi! This issue was fixed in version 2.0.1 but you are using the one before.
By the way, the most recent version is 2.2.0 🙂

[2019-09-19 09:04] mstas1993 commented on #201
It works! Thanks a lot!

[2019-09-19 09:04] #201 closed

[2019-09-20 03:56] jaskaran0001 opened #202 "Properties passed via command line do not override the properties in POM"
I want to generate the report using command line at a different path than the one mentioned inside pom.xml

Using the below command it should generate the report in D:\report folder but instead it is generating in the foldern mentioned inside pom file:
`mvn cluecumber-report:reporting -DsourceJsonReportDirectory=C:\example-project\target\cucumber-report -DgeneratedHtmlReportDirectory=D:\report`

P

[2019-09-20 03:59] jaskaran0001 commented on #175
@laxersaz  Can we also have collapsable screenshots inside reports as for bigger workflows it becomes too long to traverse?

[2019-09-23 07:23] laxersaz commented on #202
Hi, yes there is. It is also mentioned in the documentation:
https://github.com/trivago/cluecumber-report-plugin#passing-properties-via-command-line

You need an extra property in your pom to achieve that.

[2019-10-08 13:37] jzaratei commented on #161
hello @laxersaz ! Any chance to get this features in the following releases?
Thanks for the great work!

[2019-10-09 14:56] gokulkrishnasamy opened #203 "Add Tag details to Scenario Sequence and easy to export it in excel"
Hi Team,
We are using the Cluecucumber report in automation project. When we try to export the results to Excel page, we need Tags details(Tags in separate columns if possible) along with Scenario,Feature,Status,Duration details in Scenario sequence page. Please help us in achieving this results.

Thanks,
Gokul K

[2019-10-10 06:30] laxersaz commented on #203
Hello @gokulkrishnasamy ,
export to Excel is not in the scope of Cluecumber. So unfortunately I cannot provide any help here.

[2019-10-10 14:25] mjm987mj commented on #164
Hi @laxersaz do you perhaps have an update on the above?

Thanks in advance,

[2019-10-10 14:52] laxersaz commented on #164
I had to pause further development for a while but I am planning on picking up some Cluecumber tasks again soon.

[2019-10-10 21:31] gokulkrishnasamy commented on #203
Hi @laxersaz ,
 Thanks for update. Even export is not that important, I can copy paste the results to excel.
But I need Tags# to be displayed in Scenario Sequence page. Could you please help me/suggest me how to achieve this.

Thanks,
Gokul K

[2019-10-11 13:36] laxersaz commented on #203
For this, the scenario sequence page template and functionality would have to be modified. Since this is very specific to your use case, I would advise against it. Your use case sounds like a separate plugin. This could also operate on the Cucumber json files but extract Excel files with everything you need without generating Cluecumber reports first and then doing manual copy and paste work.

[2019-10-12 11:07] laxersaz commented on #199
Fix ready to release in 2.3.0

[2019-10-12 11:07] laxersaz commented on #202
Closed due to no reaction.

[2019-10-12 11:07] #202 closed

[2019-10-12 11:20] #199 closed

[2019-10-14 12:02] laxersaz commented on #195
Ready for release

[2019-10-14 12:02] #195 closed

[2019-10-16 16:36] gzmrst opened #205 "Embedded content mimetype does not support charset"
I embed HTML fragments in the scenarios to add meaningful info - showing the content of web service calls, etc., which works fine when I do
`this.scenario.embed(htmlTextBytes, "text/html");` - all the attachments are properly added as html files and viewing the report in Chrome works as expected.
But when I try to add a charset to the mime type like
`this.scenario.embed(htmlTextBytes, "text/html;

[2019-10-16 18:45] laxersaz commented on #205
Hi @gzmrst ,

I wasn't aware that this is even possible to add a charset to the mime type. Is this an officially documented feature?
If so, I will for sure include this.

Best,
Benjamin (laxersaz)

[2019-10-17 09:34] laxersaz commented on #205
Yes, I am aware of this. However, I was wondering about Cucumber. I just posted this question to the Cucumber OSS group.

[2019-10-17 11:36] laxersaz commented on #205
https://tools.ietf.org/html/rfc2045#section-5.1

[2019-10-17 11:37] laxersaz commented on #205
I will add this to the next release, thanks for reporting, @gzmrst !

[2019-10-28 20:23] JavaanseHZ commented on #84
Hey @laxersaz @robsonpolicarpo ,

I've written a gradle wrapper for cluecumber, since I liked the UI a lot better than other cucumber reporting plugins and we're using gradle.

Github: https://github.com/JavaanseHZ/cluecumber-report-gradle-plugin
Gradle Plugin portal: https://plugins.gradle.org/plugin/de.javaansehz.cluecumber-report-gradle-plugin

I just wanted to inform you guys to make sure it's

[2019-10-28 20:43] laxersaz commented on #84
Hi @JavaanseHZ ,

this is really cool! I will try this out for sure.

Thanks a lot,
Benjamin (laxersaz)

[2019-11-14 15:54] sseenivasan89 opened #207 "Report is not generated when running from Junit runner"
how to run from Junit runner to generate report ?

`@RunWith(Cucumber.class)
@CucumberOptions(plugin = {"json:target/cucumber-report/cucumber.json"},
				features = {"src\\test\\resources\\Test.feature"},
				glue = {"Steps" }, dryRun = false, monochrome = true)
public class TestRunner {

}`

`<plugin>
				<groupId>com.trivago.rta</groupId>
				<artifactId>cluecumber-report-plugin</artifactId>

[2019-11-14 16:53] laxersaz commented on #207
Since Cluecumber is a Maven plugin, you need to run your tests using Maven.

[2019-11-15 03:52] sseenivasan89 commented on #207
if i run mvn test from cmd the report is not getting generated, it get generated when i use - mvn cluecumber-report:reporting, when i run this the test is not running but report is generated.

[2019-11-15 10:23] laxersaz commented on #207
The `mvn test` lifecycle does not trigger the integration test phase that you have specified in your pom for Cluecumber. If you run `mvn verify` it does.

Please also check the example project: https://github.com/trivago/cluecumber-report-plugin/tree/master/example-project

[2019-11-15 15:43] sseenivasan89 commented on #207
mvn verify is working and generating report if my test pass, if my test fails it does not generate reprot

[2019-11-17 09:33] laxersaz commented on #207
This is the standard Maven behavior. Please check https://github.com/trivago/cluecumber-report-plugin/issues/49

[2019-11-18 17:21] AaronQudini commented on #207
@sseenivasan89 you can use `-Dmaven.test.failure.ignore=true` to get around this issue.

[2019-11-18 19:20] laxersaz commented on #207
Yes you can. However, your build will always pass in this case.

[2019-11-18 21:47] gheeno opened #208 "TestNG Support"
Issue :
Unable to generate cluecumber report.
Is there a TestNg support for Cluecumber?
```<generatedHtmlReportDirectory>${project.build.directory}/generated-cluecumber-report</generatedHtmlReportDirectory>``` is not generating the folder, nor the html

Runner :
mvn clean verify -Dsurefire.suiteXmlFiles=testng.xml

Note:
```cucumber-report/cucumber.json``` is generated.
```"json:target/cucumber-re

[2019-11-19 01:39] gheeno commented on #208
Found the solution

My plugin management was incorrect. The build was failing because of deliberate test failure.
I had to pass `<testFailureIgnore>true</testFailureIgnore>` to complete the maven life cycle.

Thank you for the gorgeous report tool - looking forward to using this.

Here's the updated POM.
[code]

[2019-11-19 01:39] #208 closed

[2019-11-19 18:07] gheeno opened #209 "[How to] Jenkins - any means to show test failures?"
Goal :
To see if any test failed at a glance without viewing the report.

I know that we need to complete the mvn build cycle for the report to be generated. Meaning the build theoretically will always "pass". And to know the failure we would need to open the report.

Is there a way for me to configure the build runner to show if a test failed? without opening the report.

[2019-11-19 20:13] wvbrandt opened #210 "Forward slashes in cucumber tags causes file creation error"
**Describe the bug**
Since I need to haul cucumber tests out of Jira and lay them down in particular places before testing starts, I embed tags in the cucumber scenarios to the indicate where the files should go. So for example with the tag, "@Location-M_SysUpdater/MH_SysUpdaterDeleteEnterprise", the "@Location-" would be stripped and the file laid down in the path "M_SysUpdater/MH_SysUpdaterDelet

[2019-11-20 05:51] laxersaz commented on #210
The latest Cluecumber version is 2.3.1 not 1.10.2 by the way. It is always shown in the badges in github.

[2019-11-20 08:22] laxersaz commented on #209
You can choose what to do with your build if you set up your Maven goals differently.

You could
- implement a custom Maven Enforcer rule to pass or fail the build based on the test results or
- run the reporting phase separately from your test lifecycle (in a Jenkins pipeline you could do it in a `finally` block so it always executes).

Also you can implement some logging/messaging/hook to see th

[2019-11-20 17:20] gheeno commented on #209
Pardon the ignorance,
If I opt for option 1: `implement a custom Maven Enforcer rule to pass or fail the build based on the test results`

It would still complete the lifecycle and generate the report but Jankins build icon would be red I reckon?

[2019-11-20 17:41] laxersaz commented on #209
Exactly :-)

[2019-11-20 19:42] gheeno commented on #209
Hi there - I have used the JUnit Plugin instead to notify me of the failures.
This would have completed the mvn lifecycle without introducing new code.

Thank you!

You can close this thread.

[2019-11-20 19:43] #209 closed

[2019-11-25 14:15] tomaugs opened #211 "New default expand option: expand only if there is something to display"
For instance we can choose to expand or not by default after hooks, steps hooks and doc string. We can then toggle show/hide scenario and step hooks in the final report.

This enhancement request is to propose a new default option for the expandBeforeAfterHooks and expandStepHooks (maybe also for expandDocStrings but I don't use it) which would be: expand only if there is something to be displayed

[2019-11-27 09:41] laxersaz commented on #211
Interesting idea. I will consider this.

[2019-11-29 01:41] gheeno opened #212 "Running Multiple Runners, and generating reports from all runners."
Description:
As a test developer, I have multiple test runners - simulating different "suites". But when I run the test via `mvn clean verify` both `FPOSTEST` and `DEMOTEST` are executing but only `DEMOTEST` is being reported on ( Cluecumber report )

Question:
Is there any way, that can I see the generated reports for all the runners that were executed?

TestNg XML
[code]

FPOSTEST
[code]

DEMOTE

[2019-11-29 09:16] laxersaz commented on #212
Hi! Why do you use two json files for each runner?
[code]
This seems pretty redundant.
Also, I guess that the second test suite overwrites the json file of the first one since you use the same file for both.

You could try this for the first suite:
`"json:target/cucumber-report/cucumber1.json"`

and this for the second:
`"json:target/cucumber-report/cucumber2.json"`

to have both report to separat

[2019-11-29 09:17] laxersaz commented on #207
Closed due to no further reaction.

[2019-11-29 09:17] #207 closed

[2019-11-29 16:04] gheeno commented on #212
@laxersaz thanks for the review - was working late didnt realize it was the same.
Renaming it to a different `.json` works.

Amazing support - thank you.

[2019-11-29 16:05] #212 closed

[2019-11-29 20:29] gheeno opened #213 "Ability to generate multiple Cluecumber reports?"
Description:
Can I generate multiple Cluecumber reports?

For example.
1. TestRunnerTest - > 1stIndex.Html
2. TestRunner2Test -> 2ndIndex.Html

POM: ( doesn't work )
[code]

Runners:
[code]
[code]

Current Output :
Only TestSuiteTwo is generated.

[2019-11-29 21:44] gheeno commented on #213
Fix :

[code]

[2019-11-29 21:44] #213 closed

[2019-12-03 06:54] kalhanrl commented on #84
Hi @JavaanseHZ  ,
I am getting this error when executing the gradle task.
* What went wrong:
Execution failed for task ':generateCluecumberReports'.

Could you please guide me on this

[2019-12-03 08:26] laxersaz commented on #84
Did you check that
- tests were run
- json was generated in `target/new-report`
?

Because it sounds like it didn't.

[2019-12-03 09:06] kalhanrl commented on #84
Hi,
No, tests not getting executed, before that it fails when used the "gradlew generateCluecumberReports" command. target-new folders created but no json is there
When executed using "gradlew cucumber" command, tests executed but not generating the target-new folder even. Tests are passing though

[2019-12-03 09:13] laxersaz commented on #84
Is your runner including the cucumber json plugin?

[2019-12-03 09:26] kalhanrl commented on #84
I added json plugin, now the json is created.

args = ['--plugin', 'pretty', '--plugin','json:target/cucumber-reports/Cucumber.json', '--glue', 'stepdefs', 'src/test/resources','--tags', '~@wip']

Config for the plugin is as follows:

cluecumberReports {
    sourceJsonReportDirectory = 'target/cucumber-reports/'
    generatedHtmlReportDirectory = 'target/new-report'
}

But when I execute the "grad

[2019-12-03 09:51] kalhanrl commented on #84
When I execute the gradlew cucumber command, json is created and attachments folder is empty. No html report is created. Tests passed

[2019-12-03 11:57] laxersaz commented on #84
One is executing the tests, the other is executing the report generation. So you probably have to use both or a lifecycle (not sure if this exists like this in Gradle) that includes both.

[2019-12-03 17:18] JavaanseHZ commented on #84
As @laxersaz said, the both tasks are not linked by default, so they can be invoked separately.
If you want to chain them in one command, you can execute the following:

`gradlew cucumber generateCluecumberReports`

If you want to link them permanently you can put this in your build.gradle:

`cucumber.finalizedBy generateCluecumberReports`

This means that every time the cucumber task is invoked,

[2019-12-04 08:10] kalhanrl commented on #84
Hi! @JavaanseHZ  Thanks you :)

I tried your solutions. Json file is created inside the temp folder, **but not the html report**.

I used this command: gradlew cucumber generateCluecumberReports
Tests are passed.

Following are my build.gradle settings
plugins {
    id "de.javaansehz.cluecumber-report-gradle-plugin" version "1.1.4"
}

cluecumberReports {
    sourceJsonReportDirectory = '/tmp/repor

[2019-12-04 15:05] JavaanseHZ commented on #84
Just to make sure: you're looking for the html reports in this folder:
generatedHtmlReportDirectory = '/tmp/**new-report**'
Sorry for asking if that's obvious, sometimes stuff like like this is easy to miss.

Anyway, I uploaded a minimal example here:
https://github.com/JavaanseHZ/cluecumber-report-gradle-plugin-example
Try it out with `./gradlew cucumber` and see if you get html reports in the bu

[2019-12-05 04:45] kalhanrl commented on #84
Thanks a lot ! It worked. I referred your build.gradle and changed my one with missing configs. Now it works fine :)

[2019-12-14 03:44] prasanth-krishtin opened #214 "How can I embed Screenshots or logs in the cluecumber report?"
I just need to embed Screenshots or logs in the cluecumber report. can you please help me?

[2019-12-16 08:40] laxersaz commented on #214
Hi! It depends on your test framework. Cluecumber takes all attachments from the generated Cucumber JSON. So whatever you attach to your scenario during your test run is visible in Cluecumber.

[2019-12-17 23:00] gheeno opened #215 "Ability to have the build pass even if the json file not present."
**Description :**
As a test developer, sometimes I want to skip a test runner ( Cucumber ). To do this,
I normally use CLI, for example:  ```mvn -Dit.test='!SampleIT' -DfailIfNoTests=false clean verify```

**Output :**
The other runners do run and generate the report - but the one I "skipped" ( SampleIT ) didn't run - as expected.

But Maven threw a build failure error due to ```Failed to execute

[2019-12-17 23:23] gheeno commented on #215
Fix :

Add `<skip>${sample.test.report}</skip>` in the <configuration>

Pass the the param via CLI. `~mvn -Dsample.test.report=true`

[2019-12-17 23:23] #215 closed

[2019-12-19 08:04] sudgarre commented on #214
@laxersaz : I have added an @after cucumber hook & placed my code for taking screenshots. I then ran my tests in parallel using surefire plugin & generate reports using cluecumber plugin.

I noticed that the screenshots are not attached in the cluecumber report but the screenshots are available on the cucumber pretty reports. Please help

[2019-12-19 10:41] laxersaz commented on #214
Hi! The screenshots are probably there but you didn't expand the after hooks. Please check out this issue and the solution :-)

https://github.com/trivago/cluecumber-report-plugin/issues/190

[2019-12-19 11:54] sudgarre commented on #214
@laxersaz : This did the trick, Thanks muck !

[2019-12-27 10:19] djolexinc opened #217 "Can we set All Features to be default starting page?"
**Is your feature request related to a problem? Please describe.**
Having more features makes browsing on starting page slow and awful.

**Describe the solution you'd like**
Can we have feature-summary.html as starting page? Or where can i change it locally?

**Describe alternatives you've considered**
I have tried searching for that option, but there is none.

[2019-12-27 10:28] djolexinc commented on #217
This can be really nice feature to have in pom.xml file, something like <customStartingPage> configuration.

[2019-12-27 10:47] #214 closed

[2019-12-27 10:48] laxersaz commented on #217
Very nice feature, I will add this to the next release in 2020.

[2019-12-27 11:06] djolexinc commented on #217
Thank you sir.

[2019-12-30 05:29] sudgarre opened #218 "Generate Cluecumber reports for cucumber rerun option with parallel execution"
I am currently using the approach to rerun failed tests (tests are rerun only once) using two runner files but i am finding difficult to generate reports using cluecumber reports plugin for both initial & rerun scenarios.

Please can you share an option where cluecumber reports are generated even when both the initial & rerun fails.

[2020-01-03 08:40] laxersaz commented on #218
I don't quite get your problem. If you want to always generate the report regardless of the run/rerun status, you can run the reporting as a completely separate Maven command after both executions are done. Or you can use the failsafe option `<testFailureIgnore>true</testFailureIgnore>` that ignores failed tests and continues in the Maven lifecycle. If you want to fail the build afterwards, you ne

[2020-01-03 17:38] FanJups opened #219 "travis_wait to prevent travis build time out"
**Describe the bug**
My suggestion is related to a bug that might happen : [preventing a travis build time out](https://docs.travis-ci.com/user/common-build-problems/#build-times-out-because-no-output-was-received) .

To do this, just add **travis_wait** as follows in **.travis.yml** :

[code]

[2020-01-03 17:43] tukaram57 opened #220 "Report is not generating if test case fails"
Reporting goal is not getting executed if test phase fails.

To reproduce-
fail any test case in test phase. this will terminate all maven process and report generation phase(package) will never get executed.

Report should be generate no mater what is the status of test case(pass/fail).

[2020-01-13 12:01] djolexinc commented on #220
Hello,
Have you tried changing phase settings in POM file?
I have put it to be <phase>test</phase>and it generates report. (When i run it with mvn clean test)

[2020-01-13 12:04] djolexinc opened #221 "Question: Can reports be generated on Maven build failure?"
**Is your feature request related to a problem? Please describe.**
Clarification for <phase></phase> pom setting would be helpful.
Can report be generated even when mvn build fails.

**Describe the solution you'd like**
Comment or clarification from author ;)

[2020-01-14 09:12] #221 closed

[2020-01-14 09:41] Labouh opened #222 "Add description to feature"
By now, description is available for scenario BUT not for feature.
It should also be available for feature after the title (subheadline) as it is very important to describe the feature.

[2020-01-14 11:05] tukaram57 commented on #220
Hi,

Just tested it with test phase in plugin, for me it didnt work out. no reports generated on failures.
Only one way to avoid is ignore test failures in maven itself but I want to fail build in case of test failures but still want to have reports generated.

[2020-01-14 12:13] laxersaz commented on #221
Hi, does this mean you don't require this information anymore?

[2020-01-14 12:13] laxersaz commented on #220
Please check this:
https://github.com/trivago/cluecumber-report-plugin/issues/49

[2020-01-14 12:17] laxersaz commented on #219
This never happened before because the build time is really short for this project.
Thanks for your suggestion - I will consider this for future projects.

[2020-01-14 12:17] #219 closed

[2020-01-16 08:20] sumitpahwa18 opened #224 "Plugin fails while running maven build over team city"
**Describe the bug**

When I run the maven build locally, It works fine. but when i run the maven build over team city then the cluecumber plugin fails to execute and gives below error.

Failed to execute goal com.trivago.rta:cluecumber-report-plugin:1.10.2:reporting (report) on project automation: Execution report of goal com.trivago.rta:cluecumber-report-plugin:1.10.2:reporting failed: Unable to

[2020-01-16 08:22] sumitpahwa18 opened #225 "Please provide teamCity plugin for cluecumber report"
Please create teamcity plugin for cluecumber report

[2020-01-16 08:34] laxersaz commented on #224
Hi! Your Cluecumber plugin is very outdated. The current version is 2.3.1.
Also, please make sure you use a Maven version of at least 3.3.9.

[2020-01-16 08:36] laxersaz commented on #225
Hi, if this is related to your bug report #224 - this is most likely an issue with an insufficient Maven version and will probably not require a dedicated TeamCity plugin. As I am not familiar with TeamCity at all, feel free to contribute such a plugin. I will be happy to review it.

[2020-01-21 10:48] BminFin opened #226 "High memory usage when generating reports with a lot of screenshots"
Hello,

I have been using the Cluecumber reporting plugin (v2.2.0) to generate reports of executed test runs, these runs are scheduled on Jenkins and executed in a seleniumGrid with chromedrivers.
Cucumber-java version: 4.8.0

Ever since I increased the amount of scenarios in my test run (205 scenarios now coming from 140, with 15-40 screenshots/scenario) I am getting the following error:

[ERROR]

[2020-01-21 10:58] laxersaz commented on #226
Hello @BminFin ,

This is interesting. To be honest, I don't know the exact memory consumption in your case as it is very dependent of the structure/complexity of your json files. Since attachments are huge base64 encoded strings within the json the file size can be quite high.
At the moment, Cluecumber consumes the whole json at once and extracts the relevant information. I will look into its str

[2020-01-21 11:09] BminFin commented on #226
Appreciate the rapid reply and am looking forward to any future improvements, this really is a great tool when it comes to generating clean reports, sadly the memory usage is holding me back a little. But I can definitely improve some things on my end as well.

Is there any reason why the attachments are not written away/stored elsewhere instead of inside the JSON?

[2020-01-21 12:39] laxersaz commented on #226
This is just how Cucumber does it. 🤷‍♂

[2020-01-21 12:45] laxersaz commented on #226
Cluecumber actually converts attachments back to their original format from the JSON Base64 encoded ones so they can be stored in the file system. But it cannot do much about the initial JSON size.

[2020-01-22 04:53] Vijayabaskar03 opened #227 "Make screenshots and texts within the steps collapsible"
**Is your feature request related to a problem? Please describe.**
The screenshots and texts are currently shown in a relatively large size and could take up a lot of page space when there are multiple screenshots.

**Describe the solution you'd like**
It would be nice if the screenshots and texts are collapsible so that only the steps would be shown in the default view and one can click through t

[2020-01-22 10:34] Labouh opened #228 "Add id in html block to better usage of custom css"
**Is your feature request related to a problem? Please describe.**
There is a way to have a custom.css (customCss parameter) BUT it is difficult to change a specific block in the generated html because the class are always the same (row)

**Describe the solution you'd like**
Adding some id in the html code would allow better management of the different blocks

[2020-01-22 10:48] Labouh commented on #228
I will do a pull-request on this easy subject

[2020-01-23 09:54] #225 closed

[2020-01-23 09:55] laxersaz commented on #225
This was not an issue with TeamCity but with the Maven version :-)

[2020-01-23 09:55] laxersaz commented on #224
This solved it.

[2020-01-23 09:55] #224 closed

[2020-01-23 10:27] laxersaz commented on #228
Release 2.3.2

[2020-01-23 10:27] #228 closed

[2020-01-23 10:28] laxersaz commented on #222
Release 2.3.2

[2020-01-23 10:28] #222 closed

[2020-01-23 10:30] laxersaz commented on #210
Is this still occuring?

[2020-01-23 10:46] Labouh opened #230 "Use folder names of feature files in report"
**Is your feature request related to a problem? Please describe.**
When you have a lot of feature files it is mandatory to dispatch them in different folders and subfolders. This is reflected in json files in uri value but not shown at all in cluecumber report :(
**Describe the solution you'd like**
Add a new tab in the report to show folders and subfolders, it could be named "requirements" as it

[2020-01-23 11:02] Labouh opened #231 "Link is broken if a tag contains "special" character"
**Describe the bug**
When a tag contains an accent char like "@çà" the generated report is wrong:
* The html tag_ file does not gave the correct name (but the # code of the char, in my sample : tag_&#195;&#167;&#195;&#160;&#195;&#169;.html)
* the link is also wrong : cluecumber-report/pages/tag-scenarios/tag_Ã§Ã%C2%A0Ã©.html

**To Reproduce**
Steps to reproduce the behavior:
1. In the example-proj

[2020-01-23 11:04] Labouh commented on #230
Seems link to #148

[2020-01-23 11:51] laxersaz commented on #230
Right it is linked so I will close this one. Thanks for reporting, though.

[2020-01-23 11:51] #230 closed

[2020-01-23 11:53] laxersaz commented on #210
Related bug: #231
So closing this one in order to not get confused 😸

[2020-01-23 11:53] #210 closed

[2020-01-23 11:53] laxersaz commented on #231
Related to #210. Keeping this one open as a bug reference.

[2020-01-23 12:28] Labouh commented on #210
Regarding issue #231, it is not exactly the same bug, even if it can be solved together.

In my case the report is generated *but* the link is broken, here there is a exception!

[2020-01-23 16:14] Labouh commented on #228
the release 2.3.2 is not available maven repo: https://mvnrepository.com/artifact/com.trivago.rta/cluecumber-report-plugin

Do you publish it?

[2020-01-23 16:44] laxersaz commented on #228
It is already available in Maven Central.
https://repo1.maven.org/maven2/com/trivago/rta/cluecumber-report-plugin/

[2020-01-24 16:43] gybharath opened #232 "Could not render page content:The following has evaluated to null or missing:attachment.filename"
**Describe the bug**
When using @Before and @After scenario hooks the attachments aren't shown in the report. The report generation is failing with an error message" Could not render page content:The following has evaluated to null or missing:attachment.filename"

A detailed error log is provided below:
[INFO] --------------------------------[ pom ]---------------------------------
[INFO]
[INFO] -

[2020-01-24 16:46] laxersaz commented on #232
Hello @gybharath ,
Thanks for reporting - I will investigate this.

[2020-01-24 17:20] gybharath commented on #232
Thank you @laxersaz ! Please let me know if you need any additional information.

[2020-01-24 17:25] laxersaz commented on #232
I can reproduce this. Will let you know if I require more information.

[2020-01-24 17:35] laxersaz commented on #232
The first 4 of the attachments are generated but the fifth one is apparently failing... Let's see what I find :-)

[2020-01-24 19:00] gybharath commented on #232
ok

[2020-01-27 08:25] laxersaz commented on #232
Continuing investigation now...

[2020-01-27 09:01] laxersaz commented on #232
I found the issue and will release a bugfix version today.

[2020-01-27 10:48] laxersaz commented on #231
Fixed in 2.3.3

[2020-01-27 10:48] #231 closed

[2020-01-27 10:48] laxersaz commented on #232
Fixed in 2.3.3

[2020-01-27 10:48] #232 closed

[2020-01-27 15:52] gybharath commented on #232
Thanks for fixing the issue. I confirm that it is working fine now. Thanks!

[2020-01-30 14:54] Remi68270 opened #233 "Add feature filename in the report"
**Is your feature request related to a problem? Please describe.**
It is difficult to retrieve a scenario when reading the report

**Describe the solution you'd like**
Add the feature filename when displayed a scenario or a feature to facilitate maintenance.

[2020-01-30 15:01] laxersaz commented on #233
Nice idea, will add this for sure.

[2020-01-30 16:04] Remi68270 opened #234 "improve scenario readability"
**Is your feature request related to a problem? Please describe.**
In scenario steps, keywords are not different from the rest of the text and parameters are in strong style, that makes difficult a change throw css

**Describe the solution you'd like**
Have a specific css style for keywords and parameters allowying to make them appear as prefered (color, bold....) with custom css.
I think, by defa

[2020-01-31 14:22] laxersaz commented on #234
ready for release.

[2020-02-10 14:37] centu81 opened #236 "Undefined steps are shown as failed"
Expected Result: undefined scenarios should be shown as skipped not failed.
Sample JSON:
`[
  {
    "description": "This is a description of undefined scenarion",
    "elements": [
      {
        "description": "hook is failing\nwhy?",
        "id": ";",
        "keyword": "Scenario",
        "line": 2,
        "name": "This is a undefined scenario",
        "steps": [
          {
            "ke

[2020-02-11 08:30] laxersaz commented on #236
Thanks for reporting, I will look into this.

[2020-02-11 11:53] laxersaz commented on #236
ready for release.

[2020-02-11 11:58] laxersaz commented on #236
Released as 2.3.4

[2020-02-11 11:58] #236 closed

[2020-02-11 11:58] laxersaz commented on #234
Released as 2.3.4

[2020-02-11 11:58] #234 closed

[2020-02-14 14:33] laxersaz commented on #220
Closed due to no reaction.

[2020-02-14 14:33] #220 closed

[2020-02-14 14:36] laxersaz commented on #218
Closed due to no reaction.

[2020-02-14 14:36] #218 closed

[2020-02-22 08:54] kkch19 opened #237 "How to show browser wise report in cluecumber?"
**My feature file:**

Feature: Login Page

  @Login
  Scenario: Verify Continue button visibility on Login page
    Given Start the application
    When Click on Sign In button
    Then Continue button visibility on Login page "true"

**My testng.xml file**

<suite name="TYS Automation Suite" parallel="tests" thread-count="1">

  <test name="Using Google Chrome" preserve-order="true">
  <parameter

[2020-02-23 14:15] laxersaz commented on #237
Are the test results written to two different json files or is the second Firefox test run simply overwriting the Chrome test run data?

[2020-03-03 01:07] pedrofg opened #238 "Reports not being generated when running from .jar file"
Hi all, I have a cucumber project where I place my java classes under src/main instead of src/test and the reason for that is because I need to run this project as an executable jar (Jenkins builds this jar using maven).
When I run it via 'java -jar' I am able to see the default reports from the Cucumber framework but not the ones from Cluecumber unless I specifically run the maven command  'mvn c

[2020-03-03 07:52] laxersaz commented on #238
Why can't you run it via Maven if you use Maven to build it anyways? The generated JSON files are not contained inside the jar, are they? Cluecumber only needs the JSON files, nothing else.

[2020-03-03 11:36] pedrofg commented on #238
Hi Benjamin, first thanks for asking my question. Those tests I am developing I will run against the system working in fact and not mocking, in the server, there is no maven nor internet connection so I use maven just to build the jar but not run the tests.

The JSON files are generated in the file system and not inside the jar file, this is working now, I can see the default report with the html

[2020-03-03 12:09] laxersaz commented on #238
Cucumber generates the json files via the runner class plugin. In order to use Cluecumber reports, it has to be invoked via Maven after the tests have run. So if your Jenkins has Maven support, call `mvn cluecumber-report:reporting` and pass the json location and output directory via the according system properties. If it does not have Maven support (which does not sound like it since Jenkins buil

[2020-03-18 15:17] laxersaz opened #240 "Reporting fails if there are no json files present"
**Describe the bug**
In case of no test runs (and no json results), the reporting fails - thus, failing the Maven build.

**Expected behavior**
Cluecumber should only output a warning but don't fail.

[2020-03-19 15:10] motivatedmind opened #241 "Fails to run via bamboo"
**Describe the bug**
Fails to run via bamboo

**To Reproduce**
Steps to reproduce the behavior:
I added the plugin as below to my pom and it works perfectly in local however fails to run from bamboo.

**Expected behavior**
Plugins runs as expected

**Attachments**
	Mar 19, 2020 2:57:28 PM org.sonatype.guice.bean.reflect.LoadedClass
	WARNING: Error injecting: com.trivago.cluecumber.CluecumberReport

[2020-03-19 15:22] laxersaz commented on #241
I think your server's Maven version is too low. You need at least Maven 3.3.9.

[2020-03-20 12:57] motivatedmind commented on #241
That actually helped. Default Maven version in server was older. Changing it to 3.3.9 solved the problem. Thanks a lot !!

[2020-03-20 12:57] #241 closed

[2020-03-26 18:11] gheeno opened #242 "Question : Do we have any support to save the HTML source of the page on fail?"
Scenario :
I'd like to see the HTML source of the page where the failed test ran on.

[2020-03-27 08:24] laxersaz commented on #242
Hello, this question is unrelated to Cluecumber.
Cluecumber shows everything that is being attached to scenarios in your test framework (and is thus included in the Cucumber JSON files). So if you attach the page's source, it will show up in the report.

[2020-03-27 08:24] laxersaz commented on #238
Closing this due to no further reaction.

[2020-03-27 08:24] #238 closed

[2020-03-27 08:25] laxersaz commented on #237
Closed due to no reaction.

[2020-03-27 08:25] #237 closed

[2020-03-27 19:06] gheeno commented on #242
oh neat! thank you! I'll create a hook then. Thank you so much!

[2020-03-27 21:53] gheeno commented on #242
@laxersaz  - would you happen to know the best way to embed the String in the report?

[2020-03-30 09:34] laxersaz commented on #242
In a Cucumber hook you can embed custom data in a scenario.
In Java it would be something like:
[code]

You can also embed text, html or pretty much whatever you want.

[2020-03-30 12:14] Sakshi0289 commented on #136
@laxersaz  I can see my cluecumber reports locally, but I can't find the documentation to add those steps in jenkins

[2020-03-30 12:17] laxersaz commented on #136
It is exactly like your local runs. Then use the Jenkins https://jenkins.io/doc/pipeline/steps/htmlpublisher/ plugin to store and link them from your Jenkins job.

[2020-04-08 17:43] rcooper85 opened #243 "Is there an issue with maven 3.6.3? I can't seem to generate a report."
I'm having an issue generating the html report. When I run `mvn clean verify`, I can only see the cucumber-report/cucumber.json file being generated. However, when I run the `mvn cluecumber-report:reporting` command separately, a report is generated successfully.

Here is my pom.xml:

`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="htt

[2020-04-09 09:17] laxersaz commented on #243
You configured Cluecumber for the `post-integration-test` phase but you don't run your tests as integration tests (using failsafe) but unit tests (using surefire). So either call both Maven goals back to back or configure Cluecumber for a different phase.

[2020-04-09 12:54] rcooper85 commented on #243
I updated the pom settings for cluecumber as below:
[code]
I then executed the command `mvn clean verify` but it still does not automatically generate the report. What's the best way of generating the report using surefire?

[2020-04-09 13:02] laxersaz commented on #243
Do you see Cluecumber starting?

[2020-04-09 13:03] laxersaz commented on #243
I just noticed you put Cluecumber into `pluginManagement` and not in `plugins`. This should be why it doesn't work.

[2020-04-09 13:04] laxersaz commented on #243
pluginManagement: is an element that is seen along side plugins. Plugin Management contains plugin elements in much the same way, except that rather than configuring plugin information for this particular project build, it is intended to configure project builds that inherit from this one. **However, this only configures plugins that are actually referenced within the plugins element in the childr

[2020-04-09 13:31] rcooper85 commented on #243
Hi Benjamin, I just removed the <pluginManagement> tags altogether and it worked :)
Thank you for your help.

[2020-04-09 13:32] laxersaz commented on #243
Perfect :-)

[2020-04-09 13:32] #243 closed

[2020-04-14 13:27] mpkorstanje opened #244 "Render new lines from `scenario.write(lines);`"
When adding text to a report using `scenario.write(lines);` new line characters are not represented in the output. For example these lines:

[code]
are rendered as:

![image](https://user-images.githubusercontent.com/6946919/79229550-80716a80-7e63-11ea-90e2-ac4473d95b10.png)

which isn't great to read. There might be some CSS needed to respect newlines.

[2020-04-14 13:32] laxersaz commented on #244
Thanks for reporting this, @mpkorstanje . Adding this to the upcoming 2.4.0 release.

[2020-04-22 12:41] grasshopper7 opened #245 "Consolidated report for retry runs"
**Is your feature request related to a problem? Please describe.**
When there is a retry runner the report generated by the plugin contains duplicate lines for the same scenarios which had failed initially and may have passed\failed on rerun. This is a pain as the report does not reflect the true picture. A pretty frequent situation with Selenium's element not found exceptions.

**Describe the sol

[2020-04-24 08:16] fedyfahronguntara opened #246 "Could not parse JSON in file Expected BEGIN_ARRAY but was BEGIN_OBJECT"
hello, i have an issue with json file, after testing with failure,
the json file that has failure is :
[code]
and the success test is:
[code]
if i remove the end of line int json file that has failure test, and run mvn cluecumber-report:reporting, the html report suddenly working
but if i don't remove the line, in command line after i running mvn test
the report html generated but the data not sho

[2020-04-24 08:22] mpkorstanje commented on #246
You are using `6.0.0-RC1`. And this is a problem in Cucumber not the reporter plugin.

https://github.com/cucumber/cucumber-jvm/pull/1954

[2020-04-24 08:24] laxersaz commented on #246
Thanks a lot for jumping in here @mpkorstanje . Can this be closed @fedyfahronguntara ?

[2020-04-24 08:34] fedyfahronguntara commented on #246
I have downgraded the cucumber-jvm to version 5.6.0 and 3.0.0
`[WARNING] Could not parse JSON in file 'test-output\cucumber.json': java.lang.IllegalStateException: Expected BEGIN_ARRAY but was BEGIN_OBJECT at path $.elements`

but if all of my tests are passed the warning is not showing and cluecumber report showing just fine, any advice?

[2020-04-24 08:37] mpkorstanje commented on #246
I doubt you have downgraded properly. If you are using IDEA/Eclipse make sure that you reimport your project.

[2020-04-24 08:57] fedyfahronguntara commented on #246
thanks for your advice, it's all good now

best of luck

[2020-04-24 08:57] #246 closed

[2020-04-28 15:25] laxersaz commented on #245
I have to disagree here because we frequently run the same scenario multiple times and we need this information in the report. Also, Cluecumber shows the exact information that is included in the json file. Omitting something because of the same name is actually falsifying this information.

[2020-04-28 16:38] grasshopper7 commented on #245
Fair enough, point understood. Can this be implemented with a toggle on\off option in the report. Select it and only the latest scenario execution results are displayed. Else the default display of all execution results.

[2020-04-29 06:17] laxersaz commented on #245
Yes, a configuration option is a good idea actually. I'll keep this in mind.

[2020-05-04 14:49] #242 closed

[2020-05-04 15:32] #244 closed

[2020-05-04 16:05] #240 closed

[2020-05-11 14:21] laxersaz commented on #233
Done in v2.5.0

[2020-05-11 14:21] #233 closed

[2020-05-19 14:29] GregJohnStewart opened #251 "Reporter doesn't run after testing"
Hello,

I run my cucumber with a simple `mvn test`, but this does not trigger the reporting with cluecumber (using the plugin config found on the README). Is there a way to get it to run after the test command? I can run the reporter just fine with `mvn cluecumber-report:reporting`

[2020-05-19 15:13] GregJohnStewart commented on #251
Found that using the `verify` command accomplishes the testing and cluecumber reporting.

[2020-05-19 16:03] GregJohnStewart commented on #251
Sorry.. looks like when tests fail, the cluecumber isn't run automatically, even with `verify`. Any hints?

[2020-05-21 13:32] grasshopper7 opened #253 "âœ½ symbol in exception stacktrace."
**Describe the bug**
The 'âœ½' symbol is displayed in the stacktrace of the 'scenario-detail' page. This is on the line detailing the feature file location details. I am using the version 2.5.0, on windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests with a failing scenario.
2. Click on failing scenario to get details.

**Expected behavior**
The '?' or '✽' should be displayed.

[2020-05-29 07:27] laxersaz commented on #251
It depends on your Maven setup. If you run with `verify` which verifies your build based on the test results. It will fail when the tests fail. This means everything after it is not executed anymore.

So you can

- set up your Maven configuration so that it ignores the failed tests (this will run everything but pass the build everytime) or
- invoke the reporting goal in a separate Maven command af

[2020-05-29 07:29] laxersaz commented on #253
Thanks for reporting this - will look into it for the next release.

[2020-05-31 12:52] grasshopper7 commented on #227
I was kinda looking for the same thing to display the screenshot as a thumbnail, which expands on selection. Similarly to display one line of text and option to expand for the complete text.

[2020-06-01 15:41] GregJohnStewart commented on #251
Thanks for the response! Would you mind pointing me to the example of the third option? It looks interesting, and I am not privy to the details of the enforcer plugin.

[2020-06-01 17:58] pooja4099 commented on #84
@JavaanseHZ - the reports are not getting generated if there is a failed test case, how do i configure it to ignore any failures and continue to generate report?

[2020-06-01 18:20] JavaanseHZ commented on #84
I'm not sure I understand you correctly. The reports are based on test results getting written by cucumber. Do you mean a) you don't get the test result json file as output from cucumber or b) that the output files are there but the reports are not generated. a) is more of a cucumber problem unrelated to reports. b) would be rather strange, but I can check tomorrow evening. Just in case: do you ex

[2020-06-02 17:17] pooja4099 commented on #84
hi @JavaanseHZ , thank you for coming back on this. the json file was there html report was not being generated.
I added the below option and it was sorted.
cucumberTest.ignoreFailures = true
________here is the snippet of my gradle file__________

task cucumberTest(type: Test) {
    dependsOn assemble, compileTestJava
    doLast {
        javaexec {
            main = "cucumber.api.cli.Main"

[2020-06-03 10:01] laxersaz commented on #251
You can do something like this (we use it in production):

[code]

An enforcer rule can have any custom logic to pass or fail a build.

[2020-06-03 10:04] laxersaz commented on #227
I'll see what I can do. There were more pressing things to do.

[2020-06-17 04:20] jaskaran0001 opened #254 "Auto rerun a failed test using cluecumber plugiun"
I am trying to rerun the failed tests using **rerunFailingTestsCount**
mvn -Dsurefire.rerunFailingTestsCount=2 test
(https://maven.apache.org/surefire/maven-surefire-plugin/examples/rerun-failing-tests.html)

Unfortunately, it is not working with cluecumber plugin.

Is there any way to auto rerun failed tests using cluecumber  ?

[2020-06-17 09:29] laxersaz commented on #254
Cluecumber does not run tests but only prepares test data. Without seeing your test setup, I cannot really tell what is going wrong in your case.

[2020-06-20 14:11] jaydeepqa commented on #226
Just thinking out loud...@laxersaz can it be solved by embedding screenshot into Json one at a time instead of loading all jsons into memory?

[2020-06-20 14:19] jaydeepqa opened #255 "Cluecumber Report support for NodesJs"
Can you please let us know if Cluecumber report support is there for NodeJs. If no can you please let us know if there is any plan for that?

[2020-06-20 18:29] mpkorstanje commented on #226
@BminFin with Cucumber v6 we've implemented a new output format that is streamable and should be able to cope more efficiently with large files. This may, once implemented in cluecumber, resolve this problem.

https://github.com/cucumber/cucumber-jvm/blob/master/release-notes/v6.0.0.md#message-formatter-to-replace-the-json-formatter

However we're also not really aware of a usecase where 15-40 scr

[2020-06-22 07:57] BminFin commented on #226
Hey,

First of all, thank you for the update!

I work with an application where input makes or breaks the result. Sometimes, looking at the actual result on the final page is not enough, and in those cases being able to go and look at what was filled in on each page, is an easy way of finding any sort of issues. Verifying each input one by one is not really an option as this would increase the run

[2020-06-22 09:29] laxersaz commented on #226
By the way, I am currently working on the new version for the Cucumber messaging format.

[2020-06-22 09:32] laxersaz commented on #255
Cluecumber is primarily a Maven plugin. The next iteration of the project will have more shapes. However, I don't have any plans to make a JS version of it.

[2020-06-22 09:33] laxersaz commented on #255
You can of course still generate reports using Maven after running your JS based tests.

[2020-06-22 12:49] motivatedmind opened #256 "If I run same scenario multiple times but in different browser, there is no way to categorize/display scenario by browser or OS"
**Is your feature request related to a problem? Please describe.**
If I run same scenario multiple times but in different browser, there is no way to categorize/display scenario by browser or OS.

**Describe the solution you'd like**
In my project I pass browser values from CLI and then use testNg data provider to iterate a scenario for each browser supplied. The problem is that, as the same scena

[2020-06-23 07:38] laxersaz commented on #256
As Cluecumber uses the Cucumber json files which don't contain this information, it is not really possible without hacks such as attaching custom values that Cluecumber can interpret. However, these values would also show up in other reports but as meaningless overhead.
We actually have completely separate reports per browser but this depends on how your test framework/pipelines run these tests.

[2020-06-23 07:38] #255 closed

[2020-06-26 15:05] gheeno opened #257 "[Question] What is the best way to save the "First" test run before a retry ?"
**Is your feature request related to a problem? Please describe.**
I implemented a  test rerun on fail : `<rerunFailingTestsCount>1</rerunFailingTestsCount>`
Cluecumber generates the report at the second attempt, omitting the previously passed test when the report is generated.

**Describe the solution you'd like**
I was wondering - what else can I do to have both the initial test run and the reru

[2020-06-26 16:42] laxersaz commented on #257
Cluecumber generates the reports from the Cucumber JSON files. So when those are overwritten, the old test results are gone.
So I would indeed go for two separate failsafe executions where the second one writes the files into a different location / with different names - however you want it.

[2020-06-29 15:59] gheeno commented on #257
@laxersaz  thanks I'll give that a shot

[2020-07-02 20:01] aritranayak opened #258 "Scenario does not show doc_string value in the report"
**Describe the bug**
My scenario has a doc_string which does not get reflected in the generated report

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Scenario step that has a doc_string like:
[code]
2. Run the test
3. Generate the report
4. See the scenario in that report

**Expected behavior**
Expected to see the scenario step:
[code]
But only seeing the below result:
[code]

**Ad

[2020-07-03 09:23] laxersaz commented on #251
Closed due to no further activity.

[2020-07-03 09:23] #251 closed

[2020-07-03 09:26] laxersaz commented on #258
There is a button in the top right corner of the report that shows the docstrings.
Also, if you want to always show them, you can set this reporting option:

[code]

This is described here:
https://github.com/trivago/cluecumber-report-plugin#auto-expand-certain-report-sections

[2020-07-03 09:27] laxersaz commented on #203
Closed due to no activity.

[2020-07-03 09:27] #203 closed

[2020-07-03 09:27] laxersaz commented on #136
Closed due to no activity.

[2020-07-03 09:27] #136 closed

[2020-07-03 09:28] laxersaz commented on #136
Moved to the next Cucumber 6 version of Cluecumber.

[2020-07-03 09:28] laxersaz commented on #18
Closed due to no activity.

[2020-07-03 09:28] #18 closed

[2020-07-10 08:08] laxersaz commented on #257
Did you succeed, @gheeno ? Can this be closed?

[2020-07-10 14:12] gheeno commented on #257
Hi Benjamin, let’s close it.  I followed what you recommended.

Thank you!

Sent from my iPhone

[2020-07-10 14:46] #257 closed

[2020-07-10 17:51] aritranayak commented on #258
Thanks @laxersaz . It works absolutely fine with both the approaches.

[2020-07-10 17:51] #258 closed

[2020-08-06 21:06] dhana-r opened #259 "Test Trends Report"
**Is your feature request related to a problem? Please describe.**
This plugin is very nice but there is no way to report the trends of test.

**Describe the solution you'd like**
I feel it would be more beneficial if we have trends report similar cucumber-reports(jenkins)

**Describe alternatives you've considered**
maven-cucumber-reports plugin is alternative

[2020-08-09 11:00] laxersaz commented on #259
Test trends are not included in Cucumber json files. So the only way to do this is to keep statistics within the plugin context. This is out of scope for Cluecumber as it is meant to be a tool to report a single test suite run.

[2020-08-09 11:00] #259 closed

[2020-08-09 11:01] #256 closed

[2020-08-09 11:02] #226 closed

[2020-08-09 11:02] #254 closed

[2020-08-09 11:02] laxersaz commented on #254
No activity.

[2020-08-26 04:41] japzio commented on #55
newbie here, wondering if cluecumber report plugin can be triggered by surefire?

[2020-08-27 18:31] Yoganand1995 opened #260 "Index.html file - is not displaying with CSS and basic html displayed when the file is created during the jenkins build"
**Describe the bug**
I Have used this report generation plugin in the rest assured bdd cucumber project and hosted the src code on the git hub and building the project through the jenkins. In the target folder the index.html file is created. but when i try to open the file- it displays as the basic html file without CSS

**To Reproduce**
Steps to reproduce the behavior:
1. Run the project on the j

[2020-08-28 06:35] laxersaz commented on #260
This is probably due to the Jenkins content policy. Please check this issue: https://github.com/trivago/cluecumber-report-plugin/issues/98

[2020-09-04 17:18] GregJohnStewart commented on #187
Bump to this, would be great to see! Perhaps even having a "Printable" output/page would be acceptable, then users could simply print the page to pdf

[2020-09-04 17:21] GregJohnStewart opened #261 "Final screenshots/ embeds not shown in reports"
I'm experiencing an issue where items embedded in the scenario in a method annotated with `@After` don't appear in the cluecumber reports. I believe that they are correctly being embedded because they appear in the default Cucumber html output.

[2020-09-07 03:10] Yoganand1995 commented on #260
Thanks a Lot for the helps , the issue got resolved

Details and Resolution
CSS is stripped out because of the Content Security Policy in Jenkins. (https://wiki.jenkins-ci.org/display/JENKINS/Configuring+Content+Security+Policy)

The default rule is set to:

sandbox; default-src 'none'; img-src 'self'; style-src 'self';
This rule set results in the following:

No JavaScript allowed at all
No plugi

[2020-09-07 03:10] #260 closed

[2020-09-07 06:34] laxersaz commented on #187
I am currently working on the completely new Cluecumber from the ground up. I will keep this in mind.

[2020-09-07 07:00] laxersaz commented on #260
Thanks a lot for also posting the full solution here 👍

[2020-09-10 07:36] laxersaz commented on #261
Have you checked that the after hooks are displayed in the report by clicking on the upper right button in the report?
You can also display after hooks per default using `<expandBeforeAfterHooks>true</expandBeforeAfterHooks>`

[2020-09-21 08:13] laxersaz commented on #261
@GregJohnStewart did this solve it?

[2020-09-21 13:02] GregJohnStewart commented on #261
Apologies, it has been busy. Yes, it did, Thanks!

[2020-09-21 13:02] #261 closed

[2020-10-19 21:01] vky26 opened #262 "Failed to execute goal com.trivago.rta:cluecumber-report-plugin:1.8.0:reporting when tried to create Report with timestamp appended outside build path"
Below is my pom, I would like to get the reports generated outside build path, so that the reports for previous runs are present.

The default config looks like this

`<plugin>
				<groupId>com.trivago.rta</groupId>
				<artifactId>cluecumber-report-plugin</artifactId>
				<version>1.8.0</version>
				<executions>
					<execution>
						<id>report</id>
						<phase>post-integration-test</phase>

[2020-10-20 06:21] vky26 commented on #262
@laxersaz any inputs? Thanks.

[2020-10-20 06:46] vky26 commented on #262
Came across this, https://github.com/trivago/cluecumber-report-plugin/issues/257 . Workaround helped. Closing the same. Thanks.

[2020-10-20 06:46] #262 closed

[2020-11-01 01:14] pgasior opened #263 "srcdoc in iframe not escaped correctly"
**Describe the bug**
Content in srcdoc attribute of iframe needs additional escaping of `&` character. [HTML spec](https://html.spec.whatwg.org/multipage/iframe-embed-object.html#attr-iframe-srcdoc).
For example `&lt;` needs to be escaped to `&amp;lt;`
This shows when trying to display HTML escaped content inside `<pre>`
Report has iframe with content unescaped. When I open the attachment HTML fil

[2020-11-01 09:48] laxersaz commented on #263
Thanks for reporting this!

[2020-11-01 20:49] pgasior commented on #263
I think that this also applies to escaping `"` in `Embedding.decodeData(string)`. It shouldn't be converted to `'` but to `&quot;`.
Citing the spec `And remember to escape ampersands before quotation marks, to ensure quotation marks become &quot; and not &amp;quot;`.

So if I understand this correctly fix would be in Embedding.java
```decodedData.replaceAll("&", "&amp;").replaceAll("\"", "&quot;")

[2020-11-27 09:54] laxersaz commented on #263
Will be fixed in 1.9.0 (release planned for today).

[2020-11-27 09:54] #263 closed

[2020-11-27 11:26] laxersaz commented on #253
This is just taken from the json as is. So the error must be before the report generation which is out of Cluecumber's scope.

[2020-11-27 11:26] #253 closed

[2020-11-27 11:27] laxersaz commented on #217
This already existed since May.

[2020-11-27 11:27] #217 closed

[2020-11-27 16:12] laxersaz commented on #211
I now changed the behavior that empty hooks are not displayed anymore (v. 2.6.0)

[2020-11-27 16:13] #211 closed

[2020-11-29 15:29] gurshafriri commented on #263
👋 @laxersaz do you see this as a potential security issue?
if it is, we (at [Snyk](https://snyk.io) would like to add it to our vulnerability database.

[2020-11-30 07:01] josepj commented on #251
For future reference, another option is to use the [Maven Failsafe Plugin](https://maven.apache.org/surefire/maven-failsafe-plugin/index.html).

[Using Failsafe Plugin to execute Cucumber scenarios with JUnit](https://maven.apache.org/surefire/maven-failsafe-plugin/examples/cucumber.html)

[2020-11-30 07:47] laxersaz commented on #263
I don't quite follow your question. I am not an expert in software security.

[2020-11-30 07:51] laxersaz commented on #251
`verify` includes integration tests which use Failsafe. So it is implicitly included.

[2020-12-02 00:54] josepj commented on #251
@laxersaz, I had it in the back of my mind that I had seen the use of Maven Failsafe plugin somewhere and finally remembered where it was - [Running the generated tests with Maven failsafe](https://github.com/trivago/cucable-plugin#2-running-the-generated-tests-with-maven-failsafe) 😄
Maybe I am missing something here, but once I designate the tests to run as integration tests using Failsafe, I see

[2020-12-02 10:57] laxersaz commented on #251
It depends on what you want to achieve. We need the enforcer rule since we have multiple test runs (including reruns) that generate multiple results. So we need a special rule to determine when a test fails in case some are rerun.

[2020-12-09 05:09] goyalvipul opened #265 "Can we add some property in cluecucumber which will only show a specific tag execution?"
**Is your feature request related to a problem?
Yes, this is a need of an hour.
Automation testers tend to add multiple tags to a single scenario, which gets published in the report, as is.
This also duplicates the scenario count shown on the Scenario main page.
I want to show the report only for a particular tag which I actually executed.

**Describe the solution you'd like**
When we open the rep

[2020-12-09 08:35] laxersaz commented on #265
Hello @goyalvipul ,

I read your issue and also the discussion over at the karate repo. Still, I don't see the problem here.
If you want to execute scenarios that contain a specific test, it does not mean that all other tags should be hidden. Semantically they still belong to the executed scenario and should be displayed.

Do you have an example or some further explanation of what you mean?